<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-bottom">
                            <a href="#">
                                <img class="media-object" ng-src="{{img}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Bottom aligned media</h4>

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                                in faucibus.</p>

                            <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#menu1" data-toggle="tab"><span
                                class="glyphicon glyphicon-th"></span> Portfolio</a></li>
                        <li><a href="#menu2" data-toggle="tab"><span class="glyphicon glyphicon-paperclip"></span>
                            Feedbacks</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="menu1">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eius eos inventore,
                                molestiae nulla, pariatur perferendis quam, quia quis rem repudiandae sequi unde
                                voluptatem? Aperiam aspernatur et exercitationem veniam voluptatibus.</p>
                        </div>
                        <div class="tabe-pane fade" id="menu2">
                            <p>
                                lorem
                            </p>
                        </div>
                    </div>
                </div>

                <div class="btn btn-success" ng-click="get()">Button</div>
            </div>
            <!--/panel-body-->
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>