<div class="container-top" ng-if="freelancerNotFound">
    <div class="row">
        <div class="col-md-12">
            <div class="well panel panel-default">
                <div class="panel-body fl-left">
                    <img class="not-found" src="/images/profile/no-profile-img-head.gif" alt=""/>

                    <h2 class="free-not-found">Freelancer not found</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container-top" ng-if="!freelancerNotFound">
    <div class="row">
        <div class="col-md-12">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-8 hr">
                        <div class="user" style="background-image: url('{{img}}')"></div>
                        <h2><em>{{fname}} {{lname}}</em></h2>

                        <p class="position">
                        <h5>{{position}}</h5>
                        <h4 class="overview">{{overHead}}</h4>

                        <p>{{overview}}</p>

                        <div class="noneOverAlign">
                            <p class="noneOver">{{noneOver}}</p>
                        </div>
                        <!--<uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)"
                                    on-leave="overStar = null" titles="['one','two','three']"
                                    aria-labelledby="default-rating"></uib-rating>
                        <span class="label"
                              ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                              ng-show="overStar && !isReadonly">{{percent}}%</span>

                        <pre style="margin:15px 0;">Rate: <b>{{rateq}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar
                            || "none"}}</b></pre>

                        <button type="button" class="btn btn-sm btn-danger" ng-click="rate = 0"
                                ng-disabled="isReadonly">Clear
                        </button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle
                            Readonly
                        </button>
                        <hr/>

                        <h4>Custom icons</h4>

                        <div ng-init="x = 5">
                            <uib-rating ng-model="x" max="15" state-on="'glyphicon-ok-sign'"
                                        state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1"></uib-rating>
                            <b>(<i>Rate:</i> {{x}})</b></div>
                        <div ng-init="y = 2">
                            <uib-rating ng-model="y" rating-states="ratingStates"
                                        aria-labelledby="custom-icons-2"></uib-rating>
                            <b>(<i>Rate:</i> {{y}})</b></div>
-->

                    </div>
                    <div class="col-xs-12 col-md-4 right-side">
                        <br/>

                        <p>
                            <span style="color: firebrick">{{smserr}}</span>
                            <span style="color: darkgreen">{{smssuc}}</span>

                        <div class="btn btn-block btn-primary" ng-click="sendSms()">
                                    <span
                                            class="glyphicon glyphicon-thumbs-up"></span>
                            Hire
                            me
                        </div>
                        </p>
                        Rate:
                        <uib-rating ng-model="rateq" max="5" readonly="true" on-hover="hoveringOver(value)"
                                    on-leave="overStar = null" titles="['one','two','three']"
                                    aria-labelledby="default-rating"></uib-rating>
                        <br/>
                        <span class="sp">{{hourly}}</span>
                        </p>
                        <p>
                            Technologies:
                            <br/>
                            <span ng-repeat="tech in techs">
                                <span class="label label-success lb">{{tech.name}}</span>
                            </span>
                        </p>

                        <p>
                    </p>
                        <md-divider></md-divider>
                        <p>
                        <h5>{{skype}}</h5>
                        </p>
                        <p>
                        <h5>Email: {{email}}</h5>
                        </p>
                        <p>On site from:
                            {{regDate}}
                        </p>
                        <span style="color: firebrick">{{messerr}}</span>
                        <span style="color: darkgreen">{{messuc}}</span>
                        <div class="btn btn-block btn-danger" data-toggle="modal"
                             data-target=".bs-example-modal-md">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Write
                            me
                        </div>
                    </div>
                </div>

                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Feedbacks">
                            <div class="tab-pane fade in active" id="menu1">
                                <span style="color: firebrick">{{comerr}}</span>
                                <span style="color: darkgreen">{{comsuc}}</span>

                                <div class="form-group comm-div">
                                    <br/>
                            <textarea type="text" class="form-control" ng-model="$parent.com" rows="2"
                                      placeholder="Comment ..."
                                      required></textarea>

                                    <div class="form-group">
                                        <label for="sel1">Rate him:</label>
                                        <select class="form-control" ng-model="$parent.comrate" id="sel1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <button type="button" ng-click="comment()"
                                            class="btn btn-primary pull-right comm-but">
                                <span
                                        class="glyphicon glyphicon-comment"></span>
                                        Comment
                                    </button>
                                </div>
                                <br/>

                                <p class="emptyComment" ng-if="emptyComm">{{noneFeed}}</p>

                                <div ng-repeat="feed in feeds">
                                    <br/>

                                    <div class="feed" style="background-image: url('{{feed.customer.imgUrl}}')"></div>
                                    <p>
                                        <em>{{feed.customer.fname}} {{feed.customer.lname}}</em>
                                    </p>

                                    <p>{{feed.comment}}</p>
                                    <ul class="list-inline ratings" title="Ratings">
                                        <li ng-repeat="i in getNumber(feed.rate)">
                                            <a href="#">
                                        <span
                                                class="fa fa-star fa-lg"></span>
                                            </a>
                                        </li>
                                    </ul>

                                    <br/>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </md-tab>
                        <md-tab label="Portfolio">
                            <md-content class="md-padding">
                                <p class="emptyPort" ng-if="emptyPort">He has no portfolio</p>

                                <div ng-repeat="port in ports">
                                    <h4 class="tit">
                                        <em>{{port.title}}</em>
                                    </h4>

                                    <div class="descr">
                                        <p>{{port.descr}}</p>

                                        <p>
                                    <span ng-repeat="tech in port.technologies">
                                        <span class="label label-success lb">{{tech.name}}</span>
                                    </span>
                                        </p>

                                        <p>
                                            {{port.startedDate.substring(0, 12)}} - {{port.endedDate.substring(0, 12)}}
                                        </p>
                                    </div>
                                    <md-divider></md-divider>
                                </div>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
    <!--/panel-body-->
    <!--/panel-->
</div>
<!--/col-->
</div>
<!--/row-->
</div>

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span
            aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Send mail</h4>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <input type="email" readonly="readonly" class="form-control" ng-model="mesEmail" rows="5"
                           placeholder="Your email"
                           required/>
                    <br/>

    <textarea type="text" class="form-control" ng-model="$parent.mes" rows="5" placeholder="Text ..."
              required></textarea>
                    <br/>
                    <button type="button" ng-disabled="mesSemdDis" ng-click="send()" class="btn btn-success"
                            data-dismiss="modal">
        <span
                class="glyphicon glyphicon-envelope"></span>
                        Send
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>