<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <!--<div class="media-left media-bottom">
                        <a href="#">
                            <img class="media-object" ng-src="{{img}}">
                        </a>
                        <span class="date">On site from: {{regDate}}</span>
                        <ul class="list-inline ratings text-center" title="Ratings">
                            <li ng-repeat="i in getNumber(rate)"><a href="#"><span class="fa fa-star fa-lg"></span></a>
                            </li>
                        </ul>

                    </div>-->
                    <div class="col-xs-8 hr">
                        <div class="user" style="background-image: url('{{img}}')"></div>
                        <h2 class="">{{fname}} {{lname}}</h2>
                        <!--<span class="sp">&#36; {{hourly}} &#47;hr</span>-->
                        <div class="border col-xs-9">

                        </div>
                            <h3>Overview</h3>

                            <p>{{overview}}</p>

                        <!--<p>
                            <span ng-repeat="tech in techs">
                                <span class="label label-success lb">{{tech.name}}</span>
                            </span>
                        </p>-->


                        </div>
                    <div class="col-xs-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, aliquam aspernatur blanditiis
                        dignissimos enim facere fugiat fugit inventore magni molestias numquam quaerat quia reiciendis
                        rem repellat vero, vitae voluptatum?
                    </div>
                    <!--/row-->
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#menu1" data-toggle="tab"><span
                                class="glyphicon glyphicon-th"></span> Feedbacks</a></li>
                        <li><a href="#menu2" data-toggle="tab"><span class="glyphicon glyphicon-paperclip"></span>
                            Portfolio</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="menu1">

                            <div class="media" ng-repeat="feed in feeds">
                                <div class="feed" style="background-image: url('{{feed.customer.imgUrl}}')"></div>

                                    <ul class="list-inline ratings" title="Ratings">
                                        <li ng-repeat="i in getNumber(feed.rate)"><a href="#"><span
                                                class="fa fa-star fa-lg"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tabe-pane fade" id="menu2">

                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-body-->
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>