.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px;
    float: left;
}

.feed {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 5px;
    float: left;
}

.border {
    border-bottom: 1px solid #ccc;
}

.right-side {
    text-align: center;
}

.sp {
    font-size: 16px;
}

.label {
    font-size: 14px;
}

.tit {
    margin-left: 5px;
}

.descr {
    margin-left: 20px;
}

.comm-div {
    margin: 5px;
}

.comm-but {
    margin-top: 5px;
}

.emptyComment {
    font-size: 48px;
    text-align: center;
    color: #ccc;
    font-weight: bold;
}

.emptyPort {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 48px;
    text-align: center;
    color: #ccc;
    font-weight: bold;
}

.tab-content {
    margin-right: 20px;
    margin-left: 20px;
}