<md-dialog>
    <form name="confirmForm" novalidate ng-submit="confirmPhoneCode()">
        <div class="per-header">
            <div class="md-toolbar-tools per-modal">
                <small> {{"personal.information" | translate}}</small>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Button">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </div>
           <div ng-if="confirmPasswordFlag">
            <div>
                <div class="panel panel-success">
                    <div class="panel-heading">{{"personal.enter-code" | translate}}</div>
                    <div class="panel-body">
                        <md-input-container class="col-xs-6 col-sm-6 box-none">
                            <input type="text" name="confirmCode" ng-required="true" ng-model="confirmCode">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!confirmPasswordFlag">
            <div>
                <div class="panel panel-success" class="color: red;">
                    <div class="panel-heading">{{"personal.wrong-pass" | translate}}</div>
                </div>
            </div>
        </div>
        <md-dialog-actions>
            <md-button type="submit" ng-if="confirmPasswordFlag" md-autofocus>
                {{"personal.personal" | translate}}
            </md-button>
            <md-button ng-click="cancel()" md-autofocus>
                {{"personal.exit" | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>