<md-dialog style="max-width:50%;">
    <div class="per-header">
        <div class="md-toolbar-tools per-modal">
            <small> {{"personal.information" | translate}}</small>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Button">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </div>
    <div ng-show="confirmEmailFlag">
        <div class="panel panel-success">
            <div class="panel-heading">{{"personal.enter-code-email" | translate}}</div>
            <div class="panel-body">
                <md-input-container class="col-xs-6 col-sm-6 box-none">
                    <input type="text" name="confirmCode" ng-required="true" ng-model="confirmCode" aria-label="Input">
                </md-input-container>
            </div>
        </div>
    </div>
    <div ng-hide="confirmEmailFlag">
        <div>
            <div class="panel panel-success" class="color: red;">
                <div class="panel-heading">{{"personal.email-in-using" | translate}}</div>
            </div>
        </div>
    </div>
    <md-dialog-actions>
        <md-button type="submit" ng-show="confirmEmailFlag" md-autofocus ng-click="changeSendingEmailAfterConfirm()" aria-label="Button">
            {{"personal.confirm" | translate}}
        </md-button>
        <md-button ng-click="cancel()" ng-click="submitted=true" md-autofocus aria-label="Button">
            {{"personal.exit" | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>