<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <small> Information</small>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Button">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <!--<div ng-show="flagConfirmPhoneCode=='undefined'">-->
        <div ng-if="flagConfirmPhoneCode">
            <div>
                <div class="panel panel-success" class="color: red;">
                    <div class="panel-heading">Password Changed</div>
                </div>
            </div>
        </div>
        <div ng-if="!flagConfirmPhoneCode">
            <div>
                <div class="panel panel-success" class="color: red;">
                    <div class="panel-heading">Code is wrong</div>
                </div>
            </div>
        </div>
    <!--</div>-->
    <!--<div ng-show="confirmEmailFlag=='undefined'">-->
        <div ng-hide="flagConfirmPhoneCode='undefined'">
            <div ng-if="flagConfirmPhoneCode">
                <div>
                    <div class="panel panel-success" class="color: red;">
                        <div class="panel-heading">Password Changed</div>
                    </div>
                </div>
            </div>
            <div ng-if="!flagConfirmPhoneCode">
                <div>
                    <div class="panel panel-success" class="color: red;">
                        <div class="panel-heading">Code is wrong</div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
    <md-dialog-actions>

        <md-button ng-click="cancel()" md-autofocus aria-label="Button">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>