<md-dialog>
    <div class="per-header">
        <div class="md-toolbar-tools per-modal">
            <small> {{"personal.information" | translate}}</small>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Button">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">{{"personal.enter-code" | translate}}</div>
        <div class="panel-body">
            <md-input-container class="col-xs-6 col-sm-6 box-none">
                <input type="text" name="confirmCode" ng-required="true" ng-model="confirmCode" aria-label="Input">
            </md-input-container>
        </div>
    </div>
    <md-dialog-actions>
        <md-button type="submit" md-autofocus ng-click="checkConfirmPhone()" aria-label="Button">
            {{"personal.confirm" | translate}}
        </md-button>
        <md-button ng-click="cancel()" ng-click="submitted=true" md-autofocus aria-label="Button">
            {{"personal.exit" | translate}}
        </md-button>
    </md-dialog-actions>
</md-dialog>