<div id="tab-content" class="panel panel-default">
    <div class="tests-tabs" ng-cloak="">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'tests.tab-tests-results' | translate}}">
                    <div class="history-tab">
                        <md-content class="md-padding">

                            <!--start header-->
                            <div class="history-title" ng-if="devQAs.length != 0">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="panel-title col-md-12">
                                                <div class="col-md-4 col-sm-5 col-xs-9">
                                                    <a ng-click="sort('name')">
                                                        <i class="fa fa-tasks"></i> {{"tests.test-name" | translate}}
                                                        <i class="glyphicon"
                                                           ng-class="{'glyphicon-arrow-up' : isSortUp('name'),
                                                                          'glyphicon-arrow-down' : isSortDown('name')}">

                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 col-sm-5 hidden-xs">
                                                    <a ng-click="sort('technology')">
                                                        <i class="fa fa-tv"></i> {{"tests.technology" | translate}}
                                                        <i class="glyphicon"
                                                           ng-class="{'glyphicon-arrow-up' : isSortUp('technology'),
                                                                          'glyphicon-arrow-down' : isSortDown('technology')}">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 hidden-sm hidden-xs">
                                                    <i class="fa fa-calendar-o"></i> {{"tests.expire-date" | translate}}
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                                                    <a ng-click="sort('rate')">
                                                        <i class="fa fa-bar-chart"></i> <span class="hidden-sm">{{"tests.your-rate" | translate}}</span>
                                                        <i class="glyphicon"
                                                           ng-class="{'glyphicon-arrow-up' : isSortUp('rate'),
                                                                          'glyphicon-arrow-down' : isSortDown('rate')}">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end header-->

                            <!--start body-->
                            <div ng-if="devQAs.length == 0">
                                <h5>{{"tests.no-passed-tests" | translate}}</h5>
                            </div>
                            <div ng-if="devQAs.length != 0">
                                <div class="history-body" ng-repeat="devQA in devQAs | orderBy:sortField:reverse">
                                    <div class="panel panel-default">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel-heading">
                                                    <div class="col-md-4 col-sm-5 col-xs-9">
                                                        {{devQA.test.name}}
                                                    </div>
                                                    <div class="col-md-3 col-sm-5 hidden-xs">
                                                        {{devQA.test.technology.name}}
                                                    </div>
                                                    <div ng-if="devQA.isExpire==true">
                                                        <div class="col-md-3 hidden-sm hidden-xs">
                                                            <i class="fa fa-calendar-times-o"></i>
                                                                <span class="red-color">
                                                                    {{devQA.expire | date:'MMM d, y'}}
                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div ng-if="devQA.isExpire!=true">
                                                        <div class="col-md-3 hidden-sm hidden-xs">
                                                            <i class="fa fa-calendar-check-o"></i>
                                                                <span class="green-color">
                                                                    {{devQA.expire | date:'MMM d, y'}}
                                                                </span>
                                                        </div>
                                                    </div>

                                                    <div ng-if="devQA.rate < devQA.test.passScore">
                                                        <div class="col-md-2 col-sm-2 hidden-xs">
                                                            <div class="progress">
                                                                <span class="progress-text">
                                                                    {{devQA.rate | number:0}}%
                                                                </span>

                                                                <div class="progress-bar progress-bar-danger"
                                                                     role="progressbar"
                                                                     aria-valuenow="40" aria-valuemin="0"
                                                                     aria-valuemax="100"
                                                                     style="width:{{devQA.rate}}%">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
                                                            <span class="text-center progress-text red-color">
                                                                {{devQA.rate | number:0}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div ng-if="devQA.rate >= devQA.test.passScore">
                                                        <div class="col-md-2 col-sm-2 hidden-xs">
                                                            <div class="progress">
                                                                <span class="progress-text">
                                                                    {{devQA.rate | number:0}}%
                                                                </span>

                                                                <div class="progress-bar progress-bar-success"
                                                                     role="progressbar"
                                                                     aria-valuenow="40" aria-valuemin="0"
                                                                     aria-valuemax="100"
                                                                     style="width:{{devQA.rate}}%">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-3 hidden-sm hidden-md hidden-lg">
                                                            <span class="text-center progress-text green-color">
                                                                {{devQA.rate | number:0}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end body-->

                        </md-content>
                    </div>
                </md-tab>
                <md-tab label="{{'tests.tab-all-tests' | translate}}">
                    <md-content class="md-padding">
                        <div class="row filter" ng-hide="noTest">
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="test_name">{{"tests.search-by-test-name" | translate}}:</label>
                                <input type="text" ng-model="search.name" class="form-control" id="test_name"
                                       placeholder="&#xF002;" style="font-family:Arial, FontAwesome">
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label for="tech_name">{{"tests.search-by-technology" | translate}}:</label>
                                <input type="text" ng-model="search.technology.name" class="form-control"
                                       id="tech_name"
                                       placeholder="&#xF002;" style="font-family:Arial, FontAwesome">
                            </div>
                            <div class="form-group col-md-6 col-xs-12 tests-checkbox-pass">
                                <md-checkbox ng-model="smt.passedTest" ng-change="testListCtrl()"
                                             class="md-warn" flex>
                                    {{"tests.passed" | translate}}
                                </md-checkbox>
                                <md-checkbox ng-model="smt.allowedTest" ng-change="testListCtrl()"
                                             class="md-warn" flex>
                                    {{"tests.allowed" | translate}}
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="tests-tab">
                            <!--start header-->
                            <div class="tests-title" ng-hide="noTest">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="panel-title col-md-12">
                                                <div class="col-md-4 col-sm-5 col-xs-5">
                                                    <a ng-click="sort('name')">
                                                        <i class="fa fa-tasks"></i> {{"tests.test-name" | translate}}
                                                        <i class="glyphicon"
                                                           ng-class="{'glyphicon-arrow-up' : isSortUp('name'),
                                                                          'glyphicon-arrow-down' : isSortDown('name')}">
                                                        </i>
                                                    </a>
                                                </div>
                                                <div class="col-md-3 col-sm-5 col-xs-4">
                                                    <a ng-click="sort('technology')">
                                                        <i class="fa fa-tv"></i> {{"tests.technology" | translate}}
                                                        <i class="glyphicon"
                                                           ng-class="{'glyphicon-arrow-up' : isSortUp('technology'),
                                                                          'glyphicon-arrow-down' : isSortDown('technology')}">
                                                        </i>
                                                    </a></div>
                                                <div class="col-md-3 hidden-sm hidden-xs text-center">
                                                    <a ng-click="sort('passScore')">
                                                        <i class="fa fa-bar-chart"></i> {{"tests.min-pass-score" | translate}}
                                                        <i class="glyphicon"
                                                           ng-class="{'glyphicon-arrow-up' : isSortUp('passScore'),
                                                                          'glyphicon-arrow-down' : isSortDown('passScore')}">
                                                        </i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end header-->

                            <!--start body-->

                            <div ng-show="noTest">
                                <h5>{{"tests.no-tests" | translate}}</h5>
                            </div>

                            <div ng-hide="noTest">
                                <div ng-if="tests.length == 0">
                                    <h5>{{"tests.no-results" | translate}}</h5>
                                </div>

                                <div class="tests-body" ng-repeat="test in tests | orderBy:sortField:reverse | filter:search">
                                    <div class="panel panel-default">
                                        <div class="row">
                                            <div class="testItem">
                                                <div class="col-md-4 col-sm-5 col-xs-5">
                                                    {{test.name}}
                                                </div>
                                                <div class="col-md-3 col-sm-5 col-xs-4">
                                                    {{test.technology.name}}
                                                </div>
                                                <div class="col-md-3 hidden-sm hidden-xs text-center">
                                                    {{test.passScore}} %
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-12">
                                                    <a ng-hide="test.status == 'passed'"
                                                       class="btn btn-primary btn-pass-test vertical-align-center"
                                                       href="/#/tests/{{test.id}}">
                                                        <span ng-show="test.status == 'new'">{{"tests.pass-test" | translate}}</span>
                                                        <span ng-show="test.status == 'expired'">{{"tests.repass-test" | translate}}</span>
                                                    </a>
                                                    <a ng-show="test.status == 'passed'" ng-disabled="true"
                                                       class="btn btn-primary btn-pass-test vertical-align-center">
                                                        <span>{{"tests.repass-test" | translate}}</span>
                                                        <md-tooltip md-visible="true" md-direction="top">
                                                            {{"tests.repass-unblock" | translate}} {{test.repass | date:"d 'day(s)' h
                                                            'hour(s)' mm 'min(s)'"}}
                                                        </md-tooltip>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end body-->
                        </div>


                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>


</div>

