<div class="container col-xs-12 center">
    <div class="tests-tabs">

        <ul id="nav-tabs" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#history">History</a></li>
            <li><a data-toggle="tab" href="#tests">Tests</a></li>
        </ul>
        <div id="tab-content" class="panel panel-default">
            <div class="tab-content">
                <div id="history" class="tab-pane fade in active">

                    <!--start header-->
                    <div class="history-title">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="panel-title col-md-12">
                                        <div class="col-md-4 col-sm-5 col-xs-9">
                                            <a id="history_title_test"><i class="fa fa-tasks"> Test </i></a>
                                        </div>
                                        <div class="col-md-4 col-sm-5 hidden-xs">
                                            <a id="history_title_technology"><i class="fa fa-tv">
                                                Technology </i></a>
                                        </div>
                                        <div class="col-md-2 hidden-sm hidden-xs">
                                            <i class="fa fa-calendar-o"> Expire date </i>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                                            <i class="fa fa-bar-chart"> Your Rate </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end header-->

                    <!--start body-->
                    <div class="history-body">
                        <div class="history-item" ng-repeat="histItem in myData.histList">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel-heading">
                                            <div class="col-md-4 col-sm-5 col-xs-9">
                                                {{histItem.test.name}}
                                            </div>
                                            <div class="col-md-4 col-sm-5 hidden-xs">
                                                {{histItem.test.technology.name}}
                                            </div>
                                            <div ng-if="histItem.isExpire==true">
                                                <div class="col-md-2 hidden-sm hidden-xs">
                                                    <i class="fa fa-calendar-times-o">
                                                    <span class="red-color">
                                                        {{histItem.expire}}
                                                    </span>
                                                    </i>
                                                </div>
                                            </div>
                                            <div ng-if="histItem.isExpire!=true">
                                                <div class="col-md-2 hidden-sm hidden-xs">
                                                    <i class="fa fa-calendar-check-o">
                                                    <span class="green-color">
                                                        {{histItem.expire}}
                                                    </span>
                                                    </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end body-->

                </div>

                <div id="tests" class="tab-pane fade">
                    <div class="row filter">
                        <div class="form-group col-xs-12">
                            <label for="all">All:</label>
                            <input type="text" ng-model="search.$" class="form-control" id="all">
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            <label for="tech">Technology:</label>
                            <input type="text" ng-model="search.$" class="form-control" id="tech">
                        </div>
                    </div>

                    <!--start header-->
                    <div class="history-title">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="panel-title col-md-12">
                                        <div class="col-md-4 col-sm-5 col-xs-5">
                                            <i class="fa fa-tasks"> Test </i>
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-4">
                                            <i class="fa fa-tv"> Technology </i>
                                        </div>
                                        <div class="col-md-2 hidden-sm hidden-xs">
                                            <i class="fa fa-bar-chart"> Pass Score </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end header-->
                    <!--start body-->

                    <!--end body-->
                </div>
            </div>
        </div>

    </div>

</div>