<div class="presentation-page">
    <iframe class="player"
            src="https://prezi.com/embed/b4lqlbpseh54/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE1WMXljWk9CZlpMQkM4OHJiZTJKVW02SThvRkYyNDBjaS9GdnJkTkZ6dz0&amp;landing_sign=MJieTb9FKtIKo8Z13EXLB4twGCNHSdq1MEmDTMUkZps"
            allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" id="iframe_container"
            frameborder="0"></iframe>
</div>