<div ng-if="signup === true">
	<div class="col-sm-offset-3 col-sm-6 animated slideInDown">
		<md-content layout-padding>
		<form name="signupForm" novalidate
			ng-submit="signupForm.$valid && createUser()">
			<h3>
				{{"signup.become" | translate}}
				<span ng-if="roleAdmin !== true">
					<md-select ng-model="user.role" ng-init="user.role = role"
						class="box-none inline-block signup-choose-role-select">
					<md-option ng-repeat="role in roles" value="{{role}}">{{role}}</md-option>
					</md-select>
				</span>
				<span ng-if="roleAdmin === true" ng-model="user.role"
					ng-init="user.role = 'admin'">{{"role.admin.become" | translate}}</span>
			</h3>

			<div ng-if="roleAdmin !== true">
				<div class="col-xs-12 social-buttons">
					<div class="col-sm-6">
						<a class="btn btn-block btn-social btn-google-plus"> <i
							class="fa fa-google-plus"></i> {{"signup.google" | translate}}
						</a>
					</div>
					<div class="col-sm-6">
						<a href="{{social.linkedin.url}}"
							class="btn btn-block btn-social btn-linkedin  {{social.linkedin.available ? '' : 'disabled'}}">
							<i class="fa fa-linkedin"></i> {{"signup.linkedin" | translate}}
						</a>
					</div>
				</div>
			</div>


			<md-input-container class="col-sm-6 col-xs-12"
				md-is-error="signupForm.firstname.$invalid && (signupForm.$submitted || signupForm.firstname.$dirty)">
			<label>{{"signup.fname" | translate}}</label> <input
				ng-required="true" md-maxlength="50" ng-model="user.first_name"
				name="firstname">

			<div ng-messages="signupForm.firstname.$error"
				ng-if="signupForm.$submitted || signupForm.firstname.$touched">
				<div ng-message="required">{{"signup.required" | translate}}</div>
				<div ng-message="md-maxlength">{{"signup.maxlength" |
					translate:'{ value: 50 }'}}</div>
			</div>
			</md-input-container>

			<md-input-container class="col-sm-6 col-xs-12"
				md-is-error="signupForm.lastname.$invalid && (signupForm.$submitted || signupForm.lastname.$dirty)">
			<label>{{"signup.lname" | translate}}</label> <input
				md-maxlength="50" ng-required="true" ng-model="user.last_name"
				name="lastname">

			<div ng-messages="signupForm.lastname.$error"
				ng-if="signupForm.$submitted || signupForm.lastname.$touched">
				<div ng-message="required">{{"signup.required" | translate}}</div>
				<div ng-message="md-maxlength">{{"signup.maxlength" |
					translate:'{ value: 50 }'}}</div>
			</div>
			</md-input-container>

			<md-input-container class="col-xs-12"
				md-is-error="signupForm.email.$invalid && (signupForm.$submitted || signupForm.email.$dirty)">
			<label>{{"signup.email" | translate}}</label> <input
				ng-required="true" type="email" name="email" ng-model="user.email"
				ng-minlength="10" ng-change="checkEmail()" md-maxlength="100"
				id="emailInput" ng-pattern="/^.+@.+\..+$/" email-available />

			<div ng-messages="signupForm.email.$error"
				ng-if="signupForm.$submitted || signupForm.email.$touched">
				<div ng-message="required">{{"signup.required" | translate}}</div>
				<div ng-message="md-maxlength">{{"signup.maxlength" |
					translate:'{ value: 50 }'}}</div>
				<div ng-message="minlength">{{"signup.minlength" |
					translate:'{ value: 10 }'}}</div>
				<div ng-message="pattern">{{"signup.email.pattern" |
					translate}}</div>
				<div ng-message="emailAvailable">{{"signup.email.available" |
					translate}}</div>
			</div>
			</md-input-container>

			<md-input-container class="col-xs-12"> <label>{{"signup.zone"
				| translate}}</label> <md-select ng-init="user.zone = getCurrentZone()"
				ng-model="user.zone"> <md-option value="{{zone.zone}}"
				ng-repeat="zone in timeZones"> {{zone.title}} </md-option> </md-select> </md-input-container>

			<md-input-container class="col-sm-6 col-xs-12"
				md-is-error="signupForm.password.$invalid && (signupForm.$submitted || signupForm.password.$dirty)">
			<label>{{"signup.password"| translate}}</label> <input
				md-maxlength="50" ng-minlength="8" name="password" type="password"
				ng-required="true" ng-model="user.password">

			<div ng-messages="signupForm.password.$error"
				ng-if="signupForm.$submitted || signupForm.password.$touched">
				<div ng-message="required">{{"signup.required" | translate}}</div>
				<div ng-message="md-maxlength">{{"signup.maxlength" |
					translate:'{ value: 50 }'}}</div>
				<div ng-message="minlength">{{"signup.minlength" |
					translate:'{ value: 8 }'}}</div>
			</div>
			</md-input-container>

			<md-input-container class="col-sm-6 col-xs-12"
				md-is-error="signupForm.passwordconfirm.$invalid && (signupForm.$submitted || signupForm.passwordconfirm.$dirty)">
			<label>{{"signup.confirm"| translate}}</label> <input
				md-maxlength="50" type="password" ng-required="true"
				name="passwordconfirm" ng-model="user.passwordconfirm"
				match="user.password">

			<div ng-messages="signupForm.passwordconfirm.$error"
				ng-if="signupForm.$submitted || signupForm.passwordconfirm.$touched">
				<div ng-message="required">{{"signup.required" | translate}}</div>
				<div ng-message="md-maxlength">{{"signup.maxlength" |
					translate:'{ value: 50 }'}}</div>
				<div ng-message="match">{{"signup.password.match" |
					translate}}</div>
			</div>
			</md-input-container>

			<div class="col-xs-12">
				<div class="col-sm-6">
					<button class="btn btn-info full-width">
						<i class="fa fa-user-plus"></i> {{"signup.do-signup" | translate}}
					</button>
				</div>
				<div class="col-sm-6">
					<button class="btn btn-warning full-width" ng-click="resetInputs()">
						<i class="fa fa-times"></i> {{"signup.reset" | translate}}
					</button>
				</div>
			</div>
		</form>
		</md-content>
	</div>

</div>

<div ng-if="signup !== true">
	<div class="container text-shadow-white">
		<div class="head col-xs-12 text-center">
			<h2>{{"signup.get-started" | translate}}</h2>
			<h3>{{"signup.what-looking" | translate}}</h3>
		</div>
		<div class="col-xs-12 col-sm-5 animated zoomIn">
			<img ng-src="/images/role/developer.png" alt="Developer"
				class="hvr-grow" ng-click="chooseRole(true,0)">
			<h2 class="text-center inline-block"
				ng-click="chooseRole(true,0)">{{"role.developer" |
				translate | capitalize}}</h2>
			<h4>{{"signup.developer.agit" | translate
				}}{{"signup.developer.agit.2" | translate }}</h4>
		</div>
		<div class="col-xs-12 col-sm-offset-2 col-sm-5 animated zoomIn">
			<img ng-src="/images/role/customer.png" alt="Customer"
				class="hvr-grow" ng-click="chooseRole(true,1)" />
			<h2 class="text-center inline-block"
				ng-click="chooseRole(true,1)">{{"role.customer" |
				translate | capitalize}}</h2>
			<h4>{{"signup.customer.agit" | translate }}</h4>
		</div>
	</div>
</div>


<!--<div ng-switch="signup">-->
<!--<div ng-switch-when="true">-->
<!--<h1>True</h1>-->
<!--</div>-->
<!--<div ng-switch-default>-->
<!--<h1>FALSE</h1>-->
<!--</div>-->

<!--</div>-->

