<a href="/#/personal">Go to personal</a>
<div class="container col-xs-12 center">
	<div class="row">
		<div class="panel panel-primary sticky-element">
			<div class="panel-heading" id="filterHeader"
				ng-click="filterToggle()">
				<div class="panel-title">
					<label>Filter</label>
					<div class="pull-right">
						<button
							class="btn btn-warning order-open-filter-btn animated slideInUp"
							data-tooltip="yes" title="Open filter" data-placement="left">
							<i class="fa fa-angle-double-down fa-2x"></i>
						</button>
					</div>
				</div>
			</div>
			<div id="order_filter"
				class="panel-collapse collapse {{filterState}}">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_title">
							Search title </label>
						<div class="col-sm-7">
							<input class="form-control" id="order_title" name="order_title"
								placeholder="Enter title" ng-model="filter.title">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_technologies">
							Techologies </label>
						<div class="col-sm-7">
							<input class="form-control" id="order_technologies"
								name="order_technologies" placeholder="Select technologies">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_pay_type">
							Order pay type </label>
						<div class="col-sm-10">
							<div class="row">
								<div class="col-sm-5">
									<md-checkbox md-no-ink
										ng-model="payment.hourly.options.disabled" class="md-warn">
									Hourly </md-checkbox>
									<rzslider rz-slider-model="payment.hourly.first"
										rz-slider-high="payment.hourly.second"
										rz-slider-options="payment.hourly.options"></rzslider>
								</div>
								<div class="col-sm-5">
									<md-checkbox md-no-ink
										ng-model="payment.fixed.options.disabled" class="md-warn">
									Fixed </md-checkbox>
									<rzslider rz-slider-model="payment.fixed.first"
										rz-slider-high="payment.fixed.second"
										rz-slider-options="payment.fixed.options"></rzslider>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="timeZoneSelect">
							Time zones </label>
						<div isteven-multi-select input-model="modernBrowsers"
							output-model="outputBrowsers" button-label="name"
							item-label="name maker" tick-property="ticked"></div>
						<div class="col-sm-7">
							<select multiple="multiple">
								<option value="-12">-12 Baker island, Howland island</option>
								<option value="-11">-11 American Samoa, Niue</option>
								<option value="-10">-10 Hawaii</option>
								<option value="-9">-9 Marquesas Islands, Gamblier
									Islands</option>
								<option value="-8">-8 British Columbia, Mexico,
									California</option>
								<option value="-7">-7 British Columbia, US Arizona</option>
								<option value="-6">-6 Canada Saskatchewan, Costa Rica,
									Guatemala, Honduras</option>
								<option value="-5">-5 Colombia, Cuba, Ecuador, Peru</option>
								<option value="-4">-4 Venezuela, Bolivia, Brazil,
									Barbados</option>
								<option value="-3">-3 Newfoundland, Argentina, Chile</option>
								<option value="-2">-2 South Georgia</option>
								<option value="-1">-1 Capa Verde</option>
								<option value="0">0 Ghana, Iceland, Senegal</option>
								<option value="+1">+1 Algeria, Nigeria, Tunisia</option>
								<option value="+2">+2 Ukraine, Zambia, Egypt</option>
								<option value="+3">+3 Belarus, Iraq, Iran</option>
								<option value="+4">+4 Armenia, Georgia, Oman</option>
								<option value="+5">+5 Kazakhstan, Pakistan, India</option>
								<option value="+6">+6 Ural, Bangladesh</option>
								<option value="+7">+7 Western Indonesai, Thailand</option>
								<option value="+8">+8 Hong Kong, China, Taiwan,
									Australia</option>
								<option value="+9">+9 Timor,Japan</option>
								<option value="+10">+10 New Guinea, Australia</option>
								<option value="+11">+11 Solomon Islands, Vanuatu</option>
								<option value="+12">+12 New zealand, Kamchatka,
									Kiribati</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-2">
							<button class="btn btn-info" ng-click="doFilter()">Do
								filter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pagination dark animated fadeIn">
			<div class="col-sm-8">
				<button ng-click="page.click()" class="page dark gradient">
					<i class="fa fa-chevron-left"></i> <i class="fa fa-chevron-left"></i>
					<span>First</span>
				</button>
				<div data-pagination="yes" class="inline-block">
					<button ng-repeat="page in pages" href="{{page.first}}"
						ng-class="page.first == 'current' ? 'page dark active' : 'page dark gradient'">{{page.second}}</button>
				</div>
				<button data-page="last" class="page dark gradient">
					<span>Last </span>
					<i class="fa fa-chevron-right"></i> <i class="fa fa-chevron-right"></i>
				</button>
			</div>
			<div class="pull-right col-sm-4">
				<div class="hidden-xs col-sm-6">
					<input id="dateSortInput" type="checkbox" checked
						data-label-text="Date" data-on-color="info"
						data-off-color="warning" data-size="mini" data-on-text="Asc"
						data-off-text="Desc">
				</div>
				<div class="pull-right col-sm-6">
					<input id="hourlySortInput" type="checkbox" checked
						data-label-text="Payment" data-on-color="info"
						data-off-color="warning" data-size="mini" data-on-text="Asc"
						data-off-text="Desc">
				</div>
			</div>
		</div>
		<div id="ordersArea">
			<div class="panel panel-info" ng-repeat="order in orders">
				<div class="panel-heading">
					<div class="panel-title">
						{{order.title}}
						<div class="pull-right col-xs-3 col-sm-4">
							<div class="hidden-xs label label-warning col-sm-7">Added</div>
							<div class="label label-info col-sm-5 pull-right">
								{{order.payType}}</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-10 col-sm-10">{{order.descr}}</div>
						<div class="pull-right col-xs-3 col-sm-4">
							<div class="hidden-xs label label-warning col-sm-7">
								{{order.date}}</div>
							<div class="label label-info col-sm-5 pull-right">
								{{order.payment}}</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<ul class="tags animated zoomIn">
							<li><a href="#" class="hvr-grow">Java</a></li>
							<li><a href="#" class="hvr-grow">C#</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>