<div class="container col-xs-12 center">
	<div class="row">
		<div class="panel panel-primary sticky-element">
			<div class="panel-heading" id="filterHeader"
				ng-click="filterToggle()">
				<div class="panel-title">
					<label>Filter</label>
					<div class="pull-right">
						<button
							class="btn btn-warning order-open-filter-btn animated slideInUp"
							data-tooltip="yes" title="Open filter" data-placement="left">
							<i class="fa fa-angle-double-down fa-2x"></i>
						</button>
					</div>
				</div>
			</div>
			<div id="order_filter"
				class="panel-collapse collapse {{filterState}}">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_title">
							Search title </label>
						<div class="col-sm-8">
							<input class="form-control" id="order_title" name="order_title"
								placeholder="Enter title" ng-model="filter.title">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_technologies">
							Techologies </label>
						<div class="col-sm-8">
							<div isteven-multi-select input-model="tech"
								output-model="selectedTechs" button-label="name"
								item-label="name" tick-property="ticked"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_pay_type">
							Order pay type </label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-5">
									<md-checkbox md-no-ink ng-true-value="false"
										ng-false-value="true"
										ng-model="payment.hourly.options.disabled" class="md-warn">
									Hourly </md-checkbox>
									<rzslider rz-slider-model="payment.hourly.first"
										rz-slider-high="payment.hourly.second"
										rz-slider-options="payment.hourly.options"></rzslider>
								</div>
								<div class="col-sm-offset-2 col-sm-5">
									<md-checkbox md-no-ink ng-true-value="false"
										ng-false-value="true"
										ng-model="payment.fixed.options.disabled"
										class="md-warn empty-margin-left"> Fixed </md-checkbox>
									<rzslider rz-slider-model="payment.fixed.first"
										rz-slider-high="payment.fixed.second"
										rz-slider-options="payment.fixed.options"></rzslider>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="timeZoneSelect">
							Time zones </label>
						<div class="col-sm-8">
							<div isteven-multi-select input-model="timeZones"
								output-model="selectedZones" button-label="title"
								item-label="title" tick-property="ticked"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-8 col-xs-2">
							<button class="btn btn-info full-width" ng-click="doFilter()">
								<i class="fa fa-search"></i> Do filter
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pagination dark animated fadeIn">
			<div class="col-xs-6">
				<button ng-click="openPage(0)" class="page dark gradient">
					<i class="fa fa-chevron-left"></i> <i class="fa fa-chevron-left"></i>
					<span>First</span>
				</button>
				<div data-pagination="yes" class="inline-block">
					<button ng-repeat="page in pages"
						ng-click="page.first == 'current' ? '' : openPage(page.second)"
						ng-class="page.first == 'current' ? 'page dark active' : 'page dark gradient'">{{page.second
						+ 1}}</button>
				</div>
				<button class="page dark gradient" ng-click="openPage('last')">
					<span>Last </span>
					<i class="fa fa-chevron-right"></i> <i class="fa fa-chevron-right"></i>
				</button>
			</div>
			<md-input-container class="pull-right box-none">
			<label>Order per page</label> <md-select ng-model="itesStep"
				ng-change="doFilter()" class="inner-elements-color-blue-light">
			<md-option ng-repeat="step in itemsPerPage" ng-value="step">
			{{step.text}} </md-option> </md-select> </md-input-container>
		</div>
		<div id="ordersArea">
			<div class="panel panel-info" ng-repeat="order in orders">
				<div class="panel-heading">
					<div class="panel-title">{{order.title}}</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-8 col-sm-10">{{order.descr}}</div>
						<div class="col-xs-4 col-sm-2">
							<div class="form-group">
								<label for="name" class="control-label">Date</label>
								<div class="col-xs-12">
									<div class="label label-warning form-control">
										{{order.date | date:'MMMM dd, yyyy'}}</div>
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="control-label">Payment:
									{{order.payType}}</label>
								<div class="col-xs-12">
									<div class="label label-info form-control">
										{{order.payment | number:2}} $</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<ul class="tags animated zoomIn">
							<li ng-repeat="tech in order.technologies"><a href="#"
								class="hvr-grow">{{tech.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>