<div class="container col-xs-12 center">
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading" id="filterHeader"
				ng-click="filterToggle()">
				<div class="panel-title">
					<label><i class="fa fa-wrench"></i> {{"developers.filter" |
						translate}}</label>
					<div class="pull-right">
						<button
							class="btn btn-warning order-open-filter-btn animated slideInUp">
							<md-tooltip md-direction="bottom"
								ng-switch="filter.tooltip.locked"> <i
								class="fa fa-unlock-alt" ng-switch-when="true"></i> <i
								ng-switch-when="false" class="fa fa-lock"></i>
							{{filter.tooltip.title}} </md-tooltip>
							<i class="fa {{filterButtonStyle}} fa-2x"></i>
						</button>
					</div>
				</div>
			</div>
			<div id="order_filter"
				class="panel-collapse collapse {{filterState}}">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_title">
							{{"orders.search-title" | translate}}</label>
						<div class="col-sm-8">
							<input class="form-control" id="order_title" name="order_title"
								placeholder="Enter title" ng-model="filter.title">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_technologies">
							{{"developers.techologies" | translate}} </label>
						<div class="col-sm-8">
							<div isteven-multi-select input-model="tech"
								id="technologiesSelect" output-model="filter.selectedTechs"
								button-label="name" item-label="name" tick-property="ticked"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="order_pay_type">
							{{"orders.order-type" | translate}}</label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-sm-5">
									<md-checkbox md-no-ink ng-true-value="false"
										ng-false-value="true"
										ng-model="filter.payment.hourly.options.disabled"
										class="md-warn"> {{"orders.payment.hourly" |
									translate}} </md-checkbox>
									<rzslider rz-slider-model="filter.payment.hourly.first"
										rz-slider-high="filter.payment.hourly.second"
										ng-if="filter.payment.hourly.options !== undefined"
										rz-slider-options="filter.payment.hourly.options"></rzslider>
								</div>
								<div class="col-sm-offset-2 col-sm-5">
									<md-checkbox md-no-ink ng-true-value="false"
										ng-false-value="true"
										ng-model="filter.payment.fixed.options.disabled"
										class="md-warn empty-margin-left">
									{{"orders.payment.fixed" | translate}} </md-checkbox>
									<rzslider rz-slider-model="filter.payment.fixed.first"
										rz-slider-high="filter.payment.fixed.second"
										rz-slider-options="filter.payment.fixed.options"></rzslider>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="timeZoneSelect">
							{{"developers.time-zones" | translate}} </label>
						<div class="col-sm-8">
							<div isteven-multi-select input-model="timeZones"
								id="timeZonesSelect" output-model="filter.selectedZones"
								button-label="title" item-label="title" tick-property="ticked"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-8 col-xs-2">
							<button class="btn btn-info full-width" ng-click="doFilter()">
								<i class="fa fa-search"></i> {{"filter.do-filter" | translate}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pagination dark animated fadeIn">
			<div class="col-xs-6">
				<button ng-click="openPage(0)" class="page dark gradient"
					ng-if="showFirst">
					<i class="fa fa-caret-left"></i>
					<span>{{"pagination.first" | translate}}</span>
				</button>
				<div data-pagination="yes" class="inline-block">
					<button ng-repeat="page in pages"
						ng-click="page.first == 'current' ? '' : openPage(page.second)"
						ng-class="page.first == 'current' ? 'page dark active' : 'page dark gradient'">{{page.second
						+ 1}}</button>
				</div>
				<button class="page dark gradient" ng-click="openPage('last')"
					ng-if="showLast">
					<span>{{maxPage}} </span>
					<i class="fa fa-caret-right"></i>
				</button>
			</div>
			<md-input-container class="pull-right box-none">
			<md-select ng-model="itesStep" ng-change="changeStep()"
				class="inner-elements-color-blue-light"> <md-option
				ng-repeat="step in itemsPerPage" ng-value="step">
			{{step.text}} </md-option> </md-select> </md-input-container>
		</div>
		<div id="ordersArea">
			<div class="col-xs-12 cabinet-top" ng-if="ordersLoading">
				<div class="load-animation"></div>
			</div>
			<h4 class="text-center text-shadow-white" ng-if="orders.length == 0">{{"list.empty"
				| translate}}</h4>
			<div class="panel panel-info" ng-repeat="order in orders"
				ng-if="ordersLoading == false">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row" style="margin: 0">
							<a class="panel-title developer-link"
								href="/#/orders/{{order.id}}"><i class="fa fa-link"></i>
								{{order.title}}</a>

							<div ng-if="globals.currentUser.role == 'developer'" class="btn btm-sm btn-danger pull-right"
								ng-disabled="order.isComplaint || isComp" data-toggle="modal"
								data-target=".bs-example-modal-sm"
								ng-click="setOrderID(order.id)" style="padding: 3px"><i class="fa fa-exclamation-triangle"></i>
								<span class="hidden-xs">
								{{"orders.complain" | translate}}</span></div>
						</div>
					</div>
				</div>
				<div class="panel-body developer-panel-body">
					<div class="row">
						<div class="col-xs-8 col-sm-10">{{order.descr}}</div>
						<div class="col-xs-4 col-sm-2">
							<div class="form-group">
								<label for="name" class="control-label">{{"developers.date"
									| translate}}</label>
								<div class="col-xs-12">
									<div class="label label-warning form-control">
										{{order.date | date:'mediumDate'}}</div>
								</div>
							</div>
							<div class="form-group">
								<label for="name" class="control-label">{{"developers.payment"
									| translate}}:
									<div class="inline-block" ng-switch on="order.payType">
										<div ng-switch-when="hourly">{{"order.payment.hourly" |
											translate}}</div>
										<div ng-switch-when="fixed">{{"order.payment.fixed" |
											translate}}</div>
									</div>
								</label>
								<div class="col-xs-12">
									<div class="label label-info form-control">
										{{order.payment | number:2}} $</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<ul class="tags animated zoomIn">
							<li ng-repeat="tech in order.technologies"><a href="#"
								class="hvr-grow">{{tech.name}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
	aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{"orders.complain.dialog-title" |
					translate}}</h4>
			</div>
			<div class="modal-body">
				<p>{{"orders.complain.main-text" | translate}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					<span class="glyphicon glyphicon-share-alt"></span>
					{{"orders.complain.close" | translate}}
				</button>
				<button type="button" id="delete1" class="btn btn-danger"
					ng-click="complain(complainOrderID)" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove-sign"></span>
					{{"orders.complain" | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
