<div class="panel panel-default test_page">

    <md-content>
        <div class="text-center">
            <h2 class="text-center"><i class="fa fa-building-o"></i> {{test.name}}</h2>
            <span ng-hide="testFinished" class="timer">{{timer}}</span>
        </div>

        <h3 ng-show="testFinished"
            class="text-center">Results:
            <span ng-class="resultColor">{{result.message}}</span>
        </h3>

        <div ng-hide="testFinished">
            <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
        </div>

        <md-content layout='column' layout-fill ng-switch on="testFinished">

            <md-list class="test_questions" ng-switch-when="false">
                <md-list-item ng-repeat="question in test.questions">
                    <div class="col-xs-12">
                        <md-list ng-cloak="">
                            <h4 class="md-no-sticky">{{$index+1}}. {{question.name}}</h4>
                            <md-list-item ng-repeat="answer in question.answers">
                                <md-checkbox ng-model="answer.check"></md-checkbox>
                                <p> {{answer.name}} </p>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                        </md-list>
                    </div>
                </md-list-item>
            </md-list>

            <div class="test-result" ng-switch-when="true">
                <table class="col-md-12 text-center">
                    <tr class="row">
                        <td><i class="fa fa-line-chart"></i> Your score</td>
                        <td>{{result.rate | number : 2}} %</td>
                    </tr>
                    <tr class="row results_border_bottom">
                        <td><i class="fa fa-bar-chart"></i> Min pass score</td>
                        <td>{{test.passScore}} %</td>
                    </tr>
                    <tr class="row">
                        <td><i class="fa fa-check-circle"></i> Fully correct answers</td>
                        <td>{{result.success}}</td>
                    </tr>
                    <tr class="row">
                        <td><i class="fa fa-exclamation-circle"></i> Partly correct answers</td>
                        <td>{{result.partlyCorrect}}</td>
                    </tr>
                    <tr class="row">
                        <td><i class="fa fa-minus-circle"></i> Fully incorrect answers</td>
                        <td>{{result.errors}}</td>
                    </tr>
                </table>
            </div>

        </md-content>

        <div class="text-center">
            <md-button ng-hide="testFinished" ng-click="submitAnswers()"
                       class="md-raised md-primary btn-pass-test vertical-align-center">Send answers
            </md-button>
            <md-button ng-show="testFinished" ng-click="redirect()"
                       class="md-raised md-primary btn-pass-test vertical-align-center">Go to tests history
            </md-button>
        </div>

    </md-content>

</div>