<div class="animated fadeInLeft create-admin">

    <div class="panel create-panel-body" style="background-color: #ffffff">
        <h3> {{'createadmin.invitation' | translate}}</h3>

        <p>
            {{'createadmin.descr' | translate}}
        </p>

        <form name="inviteAdminForm" novalidate
              ng-submit="inviteAdminForm.$valid && sendAdminLinkToEmail($event,admin.email)">

            <!--<div class="row">-->
            <md-input-container class="full-width">
                <label>{{'createadmin.input-placeholder' | translate}}</label><input ng-required="true" type="email" name="email" ng-model="admin.email">

                <div ng-messages="inviteAdminForm.email.$error " ng-if="inviteAdminForm.$invalid">
                     <div ng-message="email"> {{'createadmin.input-error-email' | translate}}</div>
                </div>
                <div ng-messages="inviteAdminForm.email.$error " ng-if="inviteAdminForm.$submitted">
                    <div ng-message="required">{{'createadmin.input-error-req' | translate}}</div>
                </div>


            </md-input-container>

              <md-button class="md-raised md-primary full-width" type="submit" style="margin:0;">
                <strong>{{'createadmin.send-btn' | translate}}</strong>
              </md-button>

        </form>



    </div>
</div>
