<div class="animated fadeInLeft create-admin">

    <div class="panel create-panel-body" style="background-color: #ffffff">
        <h3> {{'createadmin.invitation' | translate}}</h3>

        <p>
            Enter email address of person you want to invite to become a user with permission "Admin".
            This person will receive the letter with instructions. You can send this invitation to the same email
            address only once.
        </p>

        <form name="inviteAdminForm" novalidate
              ng-submit="inviteAdminForm.$valid && sendAdminLinkToEmail($event,admin.email)">

            <!--<div class="row">-->
            <md-input-container class="full-width">
                <label>E-mail</label><input ng-required="true" type="email" name="email" ng-model="admin.email">

                <div ng-messages="inviteAdminForm.email.$error " ng-if="inviteAdminForm.$invalid">
                     <div ng-message="email">Invalid e-mail</div>
                </div>
                <div ng-messages="inviteAdminForm.email.$error " ng-if="inviteAdminForm.$submitted">
                    <div ng-message="required">This field is required.</div>
                </div>


            </md-input-container>

              <md-button class="md-raised md-primary full-width" type="submit" style="margin:0;">
                <strong>Send invitation</strong>
              </md-button>

        </form>



    </div>
</div>
