<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-csp="" ng-app="FreelancerApp">
<!--<![endif]-->

<head>

    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OpenTask</title>
    <meta name="description"
          content="Simple AngularJS Boilerplate to kick start your new project with SASS support and Gulp watch/build tasks">

    <!-- mobile meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico">

    <!--[if IE]>
    <link rel="shortcut icon" href="logo.ico">
    <![endif]-->
    <!-- or, set /logo.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#f01d4f">

    <!--&lt;!&ndash; CSS &ndash;&gt;-->
    <!--&lt;!&ndash; build:css css/style.min.css &ndash;&gt;-->
    <!--&lt;!&ndash; endbuild &ndash;&gt;-->

    <!-- inject:css -->
    <link rel="stylesheet"
          href="bower_components/angular-material/angular-material.layouts.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-multi-select-master/isteven-multi-select.css">
    <link rel="stylesheet"
          href="bower_components/angularjs-slider-master/rzslider.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet"
          href="bower_components/angular-ui-notification-master/angular-ui-notification.min.css"/>
    <link rel="stylesheet"
          href="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"/>
    <link rel="stylesheet"
          href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css"/>
    <link rel="stylesheet" href="app/styles/Animate.css">
    <link rel="stylesheet" href="app/styles/font-awesome.min.css">
    <link rel="stylesheet" href="app/styles/hover.min.css">
    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="stylesheet" href="app/styles/img.hover.css">
    <!-- endinject -->

    <link rel="stylesheet" href="app/components/tests/tests.css">
    <link rel="stylesheet" href="app/components/navigation/navigation.css">
    <link rel="stylesheet" href="app/components/home/home.css">
    <link rel="stylesheet" href="app/components/test/test.css">
    <link rel="stylesheet" href="app/components/pubdev/pubdev.css">
    <link rel="stylesheet" href="app/components/personal/personal.css">

    <link rel="stylesheet" href="app/components/jobinfo/jobinfo.css">
    <link rel="stylesheet" href="app/components/myworks/mywork.css">

    <link rel="stylesheet" href="app/components/custpub/custpub.css">
    <link rel="stylesheet" href="app/components/order/newOrder.css">
    <link rel="stylesheet" href="app/components/developers/developers.css">
    <link rel="stylesheet" href="app/components/statistics/statistics.css">
    <link rel="stylesheet" href="app/components/createtest/createtest.css">
    <link rel="stylesheet" href="app/components/createadmin/createadmin.css">
    <link rel="stylesheet" href="app/components/forgotpass/forgot.css">
    <link rel="stylesheet" href="app/components/ban/ban.css">
    <link rel="stylesheet" href="app/components/footer/footer.css">

</head>

<body>
<div class="main-wrapper page-wrap ">

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
            href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="main-header">
        <div class="header-lower">
            <div class="auto-container clearfix">

                <div class="outer-box">
                    <div class="logo">
                        <a href="#/home"> <img alt="Site logo"
                                               class="img-logo img-png animated rotateIn" data-tooltip="yes"
                                               title="Home" data-placement="right" src="/images/logo.png">

                            <h1 class="text-shadow-white logo-text animated flipInY"><span
                                    class="first">Open</span><span class="second">Task</span></h1>
                        </a>
                    </div>
                </div>

                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation" ng-switch on="logged">
                            <li class="hvr-underline-from-center" ng-switch-when="false"><a
                                    href="#/auth"> <i class="fa fa-sign-in"></i>{{"index.header-signin" | translate}}
                            </a></li>
                            <li class="hvr-underline-from-center" ng-switch-when="false"><a
                                    href="#/signup"> <i class="fa fa-user-plus"></i>{{"index.header-signup" |
                                translate}}
                            </a></li>
                        </ul>
                        <ul class="navigation " ng-switch on="logged">
                            <li class="home-head-img-pr box-none" id="imgHeadHome"
                                style="background-image: url('{{globals.currentUser.img}}')" ng-switch="true"></li>
                            <li class="hvr-underline-from-center" ng-switch-when="true">
                                <a
                                        href="#/personal"> <!--<i class="fa fa-user"></i>-->
                                    {{globals.currentUser.fname}}
                                {{globals.currentUser.lname}}
                            </a></li>
                            <li id="logout" ng-click="logout()"
                                class="hvr-underline-from-center" ng-switch-when="true"><a
                                    href="#/logout"> <i class="fa fa-sign-out"></i>{{"index.header-logout" | translate}}
                            </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </header>


    <div ng-switch on="logged">
        <div ng-switch-when="true">
            <div class="MenuController">
                <md-toolbar class="md-menu-toolbar">
                    <md-menu-bar
                            class="menuIcons "><a href="#/home"> <i
                            class="fa fa-home menuIconBtn home-btn"></i>
                    </a>


                        <md-menu md-offset="49">
                            <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                                <i class="fa fa-search"></i>
                            </button>
                            <md-menu-content width=3 md-position-mode=target-left
                                             class="menuContent">
                                <md-menu-item>
                                    <md-button ng-href="/#/orders"> {{"index.menu-orders" | translate}}</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-href="/#/developers"> {{"index.menu-developers" | translate}}
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>


                        <md-menu md-offset="49">
                            <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                                <i class="fa fa-briefcase"></i>
                            </button>
                            <md-menu-content width=3 md-position-mode=target-left
                                             class="menuContent">


                                <span ng-switch="globals.currentUser.role">
                                <span ng-switch-when="developer">
                                    <md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-href="/#/myworks">{{"index.menu-myworks" | translate}}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-item>
                                </span>
                                 <span ng-switch-when="customer">
                                    <md-menu-item>
                                        <md-button ng-href="/#/order/create">{{"index.menu-create-order" | translate}}
                                        </md-button>
                                    </md-menu-item>
                                     <md-menu-item>
                                         <md-button ng-href="/#/myworks">{{"index.menu-myworks" | translate}}
                                         </md-button>
                                     </md-menu-item>
                                </span>
                                    <span ng-switch-when="admin">
                                    <md-menu-item>
                                        <md-button ng-href="/#/admin/statistics">{{"index.menu-statistics" |
                                            translate}}
                                        </md-button>
                                    </md-menu-item>
                                         <md-menu-item>
                                             <md-button ng-href="/#/tests/creating">{{"index.menu-test-controlling" |
                                                 translate}}
                                             </md-button>
                                         </md-menu-item>
                                          <md-menu-item>
                                              <md-button ng-href="/#/admin/new/admin">{{"index.menu-create-admin" |
                                                  translate}}
                                              </md-button>
                                          </md-menu-item>
                                </span>
                                <span ng-switch-default>
                                </span>
                            </span>

                            </md-menu-content>

                        </md-menu>


                        <md-menu md-offset="49">
                            <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                                <i class="fa fa-user "></i>
                            </button>

                            <md-menu-content width=3 md-position-mode=target-left
                                             class="menuContent">
                                <md-menu-item>
                                    <md-button ng-href="/#/personal">
                                        {{"index.menu-personal" | translate}}
                                    </md-button>
                                </md-menu-item>

                            <span ng-switch="role">
                                <span ng-switch-when="developer">
                                 <md-menu-item>
                                     <md-button ng-href="/#/tests"> {{"index.menu-tests" | translate}}</md-button>
                                 </md-menu-item>

                                    <md-menu-item>
                                        <md-button type="submit" ng-href="/#/public/developer/devname/{{globals.currentUser.id}}">
                                            {{"index.menu-public-page" | translate}}
                                        </md-button>
                                    </md-menu-item>

                                </span>
                                 <span ng-switch-when="customer">
                                    <md-menu-item>
                                        <md-button ng-href="/#/public/customer/custname/{{globals.currentUser.id}}">
                                            {{"index.menu-public-page" | translate}}
                                        </md-button>
                                    </md-menu-item>
                                </span>
                                <span ng-switch-default>
                                </span>
                            </span>
                            </md-menu-content>
                        </md-menu>


                    </md-menu-bar>
                </md-toolbar>
            </div>

            <div class="menu-offset menu-header-offset content-full-screen-height">
                <div class="container">
                    <div ui-view></div>
                </div>
            </div>

        </div>


        <div ng-switch-default>
            <div class="menu-header-offset-unlog content-full-screen-height">
                <div>
                    <div ui-view></div>
                </div>
            </div>
        </div>

    </div>

</div>
<footer class="site-footer">
    <div ng-include="'app/components/footer/footer.html'"></div>
</footer>

</body>


<!-- inject:js -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script
        src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-multi-select-master/isteven-multi-select.js"></script>
<script src="bower_components/angularjs-slider-master/rzslider.min.js"></script>
<script src="bower_components/angular-ui-notification-master/angular-ui-notification.min.js"></script>
<script src="bower_components/angular-google-chart-0.1.0/ng-google-chart.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-handler-log/angular-translate-handler-log.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
<script src="bower_components/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
<script src="bower_components/hello/hello.min.js"></script>

<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="app/app.js"></script>
<script src="app/common.js"></script>
<script src="app/constants/config.js"></script>

<script src="app/components/navigation/navigation.js"></script>

<script src="app/components/jobs/jobsCtrl.js"></script>
<script src="app/components/jobs/jobsService.js"></script>
<script src="app/components/signup/signupCtrl.js"></script>
<script src="app/components/signup/signupService.js"></script>

<script src="app/components/personal/personalCtrl.js"></script>
<script src="app/components/personal/personalService.js"></script>

<script src="app/components/tests/testsCtrl.js"></script>
<script src="app/components/tests/testsService.js"></script>
<script src="app/components/test/testCtrl.js"></script>
<script src="app/components/test/testService.js"></script>
<script src="app/components/authentication/authCtrl.js"></script>
<script src="app/components/authentication/authService.js"></script>
<script src="app/components/header/headerCtrl.js"></script>
<script src="app/components/home/homeCtrl.js"></script>

<script src="app/components/myworks/myworksCtrl.js"></script>
<script src="app/components/myworks/myworksService.js"></script>


<script src="app/components/pubdev/pubdevCtrl.js"></script>
<script src="app/components/pubdev/pubdevService.js"></script>

<script src="app/components/jobinfo/jobinfoCtrl.js"></script>
<script src="app/components/jobinfo/jobinfoService.js"></script>

<script src="app/components/custpub/custpubCtrl.js"></script>
<script src="app/components/custpub/custpubService.js"></script>

<script src="app/components/order/orderCtrl.js"></script>
<script src="app/components/order/orderService.js"></script>

<script src="app/components/statistics/statisticsCtrl.js"></script>
<script src="app/components/statistics/statisticsService.js"></script>
<script src="app/components/developers/developersCtrl.js"></script>
<script src="app/components/developers/developersService.js"></script>

<script src="app/components/createtest/createtestCtrl.js"></script>
<script src="app/components/createtest/createtestService.js"></script>

<script src="app/locales/localeService.js"></script>
<script src="app/locales/languageSelectDirective.js"></script>

<script src="app/components/createadmin/createadminCtrl.js"></script>
<script src="app/components/createadmin/createadminService.js"></script>

<script src="app/components/ban/banCtrl.js"></script>
<script src="app/components/ban/banService.js"></script>

<script src="app/components/forgotpass/forgotCtrl.js"></script>
<script src="app/components/forgotpass/forgotService.js"></script>

<script src="app/filters.js"></script>
<!-- endinject -->


<!-- endbuild -->

<!-- templates from $templateCache -->
<!-- build:templates -->
<!-- endbuild -->


</html>
