<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-csp="" ng-app="FreelancerApp">
<!--<![endif]-->

<head>

    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Freelancer</title>
    <meta name="description"
          content="Simple AngularJS Boilerplate to kick start your new project with SASS support and Gulp watch/build tasks">

    <!-- mobile meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!--[if IE]>
    <link rel="shortcut icon" href="favicon.ico">
    <![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#f01d4f">

    <!--&lt;!&ndash; CSS &ndash;&gt;-->
    <!--&lt;!&ndash; build:css css/style.min.css &ndash;&gt;-->
    <!--&lt;!&ndash; endbuild &ndash;&gt;-->

    <!-- inject:css -->
    <link rel="stylesheet"
          href="bower_components/angular-material/angular-material.layouts.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-multi-select-master/isteven-multi-select.css">
    <link rel="stylesheet"
          href="bower_components/angularjs-slider-master/rzslider.min.css">
    <link rel="stylesheet"
          href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet"
          href="bower_components/angular-ui-notification-master/angular-ui-notification.min.css"/>
    <link rel="stylesheet"
          href="bower_components/angular-bootstrap/ui-bootstrap-tpls-0.14.0.min.js"/>
    <link rel="stylesheet" href="app/styles/Animate.css">
    <link rel="stylesheet" href="app/styles/font-awesome.min.css">
    <link rel="stylesheet" href="app/styles/hover.min.css">
    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="stylesheet" href="app/styles/img.hover.css">
    <!-- endinject -->

    <link rel="stylesheet" href="app/components/tests/tests.css">
    <link rel="stylesheet" href="app/components/navigation/navigation.css">
    <link rel="stylesheet" href="app/components/home/home.css">
    <link rel="stylesheet" href="app/components/home/homeSlider.css">
    <link rel="stylesheet" href="app/components/test/test.css">
    <link rel="stylesheet" href="app/components/pubdev/pubdev.css">
    <link rel="stylesheet" href="app/components/personal/personal.css">

    <link rel="stylesheet" href="app/components/jobinfo/jobinfo.css">
    <link rel="stylesheet" href="app/components/myworks/mywork.css">

    <link rel="stylesheet" href="app/components/custpub/custpub.css">
    <link rel="stylesheet" href="app/components/order/newOrder.css">


</head>

<body class="main-wrapper">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header class="main-header">
    <div class="header-lower">
        <div class="auto-container clearfix">

            <div class="outer-box">
                <div class="logo">
                    <a href="#/home"> <img alt="Site logo"
                                           class="img-logo img-png animated rotateIn" data-tooltip="yes"
                                           title="Home" data-placement="right" src="/images/logo.png">

                        <h1 class="text-shadow-white logo-text">Freelancer</h1>
                    </a>
                </div>
            </div>

            <nav class="main-menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse clearfix">
                    <!--<sec:access role="none">-->
                    <ul class="navigation" ng-switch on="logged">
                        <li class="hvr-underline-from-center" ng-switch-when="false"><a
                                href="#/auth"> <i class="fa fa-sign-in"></i>Sign In
                        </a></li>
                        <li class="hvr-underline-from-center" ng-switch-when="false"><a
                                href="#/signup"> <i class="fa fa-user-plus"></i>Sign Up
                        </a></li>


                    </ul>
                    <!--</sec:access>-->
                    <!--<sec:access role="user">-->
                    <ul class="navigation " ng-switch on="logged">
                        <li class="hvr-underline-from-center" ng-switch-when="true"><a
                                href="#/cabinet/main"> <i class="fa fa-home"></i>{{name}}
                            {{lastName}}
                        </a></li>
                        <li id="logout" ng-click="logout()"
                            class="hvr-underline-from-center" ng-switch-when="true"><a
                                href="#/logout"> <i class="fa fa-sign-out"></i>Logout
                        </a></li>
                    </ul>
                    <!--</sec:access>-->
                </div>
            </nav>

        </div>
    </div>
    </div>
</header>


<div ng-switch on="logged">
    <div ng-switch-when="true">
        <div class="MenuController">
            <md-toolbar class="md-menu-toolbar">
                <md-menu-bar
                        class="menuIcons "><a href="#/home"> <i
                        class="fa fa-home menuIconBtn home-btn"></i>
                </a>


                    <md-menu md-offset="49">
                        <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                            <i class="fa fa-search"></i>
                        </button>
                        <md-menu-content width=3 md-position-mode=target-left
                                         class="menuContent">
                            <md-menu-item>
                                <md-button onclick="location.href='#/orders'"> Orders</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button onclick="location.href='#/developers'"> Developers</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>


                    </md-menu>
                    <md-menu md-offset="49">
                        <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                            <i class="fa fa-user "></i>
                        </button>

                        <md-menu-content width=3 md-position-mode=target-left
                                         class="menuContent">
                            <md-menu-item>
                                <md-button onclick="location.href='#/personal'">
                                    Personal
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button
                                        onclick="location.href='#/myworks'"> My Works
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button onclick="location.href='#/tests'"> Tests</md-button>
                            </md-menu-item>

                            <span ng-switch="role">
                                <span ng-switch-when="developer">
                                    <md-menu-item>
                                        <md-button type="submit" ng-href="/#/public/developer/full-name/{{project.id}}"> See my public page</md-button>
                                    </md-menu-item>
                                </span>
                                 <span ng-switch-when="customer">
                                    <md-menu-item>
                                        <a ng-href="/#/public/developer/full-name/{{project.id}}">See my public page</a>
                                    </md-menu-item>
                                </span>
                                <span ng-switch-default>
                                </span>
                            </span>
                            </md-menu-content>
                    </md-menu>

                    <md-menu md-offset="49">
                        <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                            <i class="fa fa-bar-chart"></i>
                        </button>
                        <md-menu-content width=3 md-position-mode=target-left
                                         class="menuContent">
                            <md-menu-item>
                                <md-button onclick="location.href='#/admin/statistics'"> Statistics</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu md-offset="49">
                        <button ng-click="$mdOpenMenu()" class="menuIconBtn">
                            <i class="fa fa-cogs"></i>
                        </button>
                        <md-menu-content width=3 md-position-mode=target-left
                                         class="menuContent">
                            <md-menu-item>
                                <md-button> Settings 1</md-button>
                            </md-menu-item>


                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </md-toolbar>
        </div>

        <!-- Main view for templates -->
        <div class="menu-offset menu-header-offset">
            <div class="container">
                <div ui-view></div>
            </div>
        </div>
    </div>


    <div ng-switch-default>
        <div class="menu-header-offset-unlog">
            <div class="">
                <div ui-view></div>
            </div>
        </div>
    </div>

</div>

</body>


<!-- inject:js -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script
        src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-multi-select-master/isteven-multi-select.js"></script>
<script src="bower_components/angularjs-slider-master/rzslider.min.js"></script>
<script src="bower_components/angular-ui-notification-master/angular-ui-notification.min.js"></script>
<script src="bower_components/angular-google-chart-0.1.0/ng-google-chart.js"></script>
<script src="app/app.js"></script>
<script src="app/constants/config.js"></script>

<script src="app/components/navigation/navigation.js"></script>

<script src="app/components/jobs/jobsCtrl.js"></script>
<script src="app/components/jobs/jobsService.js"></script>
<script src="app/components/signup/signupCtrl.js"></script>
<script src="app/components/signup/signupService.js"></script>

<script src="app/components/personal/personalCtrl.js"></script>
<script src="app/components/personal/personalService.js"></script>

<script src="app/components/tests/testsCtrl.js"></script>
<script src="app/components/tests/testsService.js"></script>
<script src="app/components/test/testCtrl.js"></script>
<script src="app/components/test/testService.js"></script>
<script src="app/components/authentication/authCtrl.js"></script>
<script src="app/components/authentication/authService.js"></script>
<script src="app/components/header/headerCtrl.js"></script>
<script src="app/components/home/homeCtrl.js"></script>

<script src="app/components/myworks/myworksCtrl.js"></script>
<script src="app/components/myworks/myworksService.js"></script>


<script src="app/components/pubdev/pubdevCtrl.js"></script>
<script src="app/components/pubdev/pubdevService.js"></script>

<script src="app/components/jobinfo/jobinfoCtrl.js"></script>
<script src="app/components/jobinfo/jobinfoService.js"></script>

<script src="app/components/custpub/custpubCtrl.js"></script>
<script src="app/components/custpub/custpubService.js"></script>

<script src="app/components/order/orderCtrl.js"></script>
<script src="app/components/order/orderService.js"></script>

<script src="app/components/admin/adminCtrl.js"></script>
<script src="app/components/admin/adminService.js"></script>
<!-- endinject -->


<!-- endbuild -->

<!-- templates from $templateCache -->
<!-- build:templates -->
<!-- endbuild -->


</html>