<div class="animated fadeInLeft technologies">

    <div class="panel create-panel-body tech-panel-body">

        <div class="row">
            <span class="tech-title">{{"technologies.title" | translate}}</span> <span class="pull-right tech-amount">
            {{"technologies.total" | translate}}: {{technologies.length}}</span>
        </div>
        <hr/>
        <div class="tech-list">
            <div ng-repeat="tech in technologies">

                <div class="">
                    <div class="col-sm-10 col-xs-9">
                        {{tech.name}}
                    </div>

                    <div class="col-sm-2 col-xs-3">
                        <md-button class="md-icon-button md-accent" ng-click="deleteTechnology($event,tech.id)">
                            <i class="fa fa-times" style="color: red;font-size: 15pt;"></i>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <form name="addTechForm" novalidate
              ng-submit="addTechForm.$valid && addTechnology($event,technology.techName)">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <md-input-container class="full-width"  style="margin:0;">
                    <label>{{"technologies.add-input" | translate}}</label><input ng-required="true" type="text" name="techName" ng-model="technology.techName" >
                    <span ng-messages="addTechForm.techName.$error" ng-if="addTechForm.$submitted">
                        <span ng-message="required">{{'createadmin.input-error-req' | translate}}</span>
                    </span>
                </md-input-container>
            </div>
            <div class="col-sm-6 col-xs-12" >
                <md-button class="md-raised md-primary full-width " type="submit"  style="margin:0;">
                    <strong>{{"technologies.add-btn" | translate}}</strong>
                </md-button>
            </div>

        </div>
        </form>







    </div>
</div>
