<div class="admin-page">
    <div class="row">
        <div class="col-sm-8">
            <div id="tab-content" class="panel panel-default">
                <div class="mywork">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>


                            <!--Start Tab Subscribed projects-->
                            <md-tab label="Create">
                                <md-content class="md-padding" style="min-height: 594px;">


                                    <div>
                                        <h3>Create admin</h3>

                                        <div>
                                            Email: <input type="text" name="email" ng-model="admin.email"><br/>

                                            <md-button class="md-primary md-raised"
                                                       ng-click="sendAdminLinkToEmail($event,admin.email)">
                                                Send email
                                            </md-button>

                                        </div>
                                    </div>

                                    <hr/>


                                </md-content>
                            </md-tab>


                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>


        <div class="col-sm-4 well">


            <div class="panel panel-default">
                <div class=" panel-body statistics-body">

                    <h3>{{"admin.statistics" | translate}}</h3>


                    <div style="overflow: hidden;">
                        <h4>{{"admin.statistics-dev-cust" | translate}}</h4>
                        <div google-chart chart="chart"></div>
                    </div>
                    <div style="padding: 0;">
                        <h4>{{"admin.statistics-orders" | translate}}</h4>
                        <div google-chart chart="chartObject"></div>
                    </div>


                </div>
            </div>


        </div>

    </div>
</div>