<div class="admin-page">


    <div class="container" style="background-color: #ffffff;">

        <h3>{{"admin.statistics" | translate}}</h3>


        <div class="row" style="padding: 20px;">
            <div class="col-sm-5">
                <h4>{{"admin.statistics-dev-cust" | translate}}</h4>

                <div google-chart chart="chart"></div>
            </div>
            <div class="col-sm-7">
                <h4>{{"admin.statistics-orders" | translate}}</h4>

                <div google-chart chart="chartObject"></div>
            </div>
        </div>
    </div>

</div>

