.ban-service .complainItem .btn-ban {
    padding: 0 12px;
}

.ban-service .complainItem .row {
    margin: 0;
}

.ban-service .order-link {
    text-decoration-line: unset !important;
}

.ban-service .order-link .fa-link {
    color: transparent;
}

.ban-service .order-link:hover .fa-link {
    color: #ddd6d8;
}

.ban-service .order-link:hover{
    color: #ddd6d8;
}