<div id="tab-content" class="panel panel-default">
	<div class="ban-service" ng-cloak="">
		<md-content class="md-padding"> <md-tabs
			md-dynamic-height md-border-bottom> <md-tab
			label="{{'banservice.complained-orders-tab-label' | translate}}">
		<md-content class="md-padding">
		<div class="pagination dark animated fadeIn">
			<div class="col-xs-6">
				<button type="button" ng-click="showUnbannedFrom(0)"
					class="page dark gradient" ng-if="showUnbannedFirst">
					<i class="fa fa-caret-left"></i>
					<span>{{"pagination.first" | translate}}</span>
				</button>
				<div data-pagination="yes" class="inline-block">
					<button type="button" ng-repeat="page in unbannedPages"
						ng-click="page.first == 'current' ? '' : showUnbannedFrom(page.second)"
						ng-class="page.first == 'current' ? 'page dark active' : 'page dark gradient'">
						{{page.second + 1}}</button>
				</div>
				<button type="button" class="page dark gradient"
					ng-click="showUnbannedFrom('last')" ng-if="showUnbannedLast">
					<span>{{unbannedMaxPage}} </span>
					<i class="fa fa-caret-right"></i>
				</button>
			</div>
		</div>
		<div ng-show="complainedOrders.length == 0">
			<h5>{{"banservice.no-complains" | translate}}</h5>
		</div>
		<div class="complainItem panel panel-primary"
			ng-repeat="order in complainedOrders | orderBy:sortField:reverse | filter:search">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-sm-10 col-xs-12">
							<a class="panel-title order-link" href="/#/orders/{{order.id}}"><i
								class="fa fa-link"></i> {{order.title}} </a>
						</div>
						<div class="col-sm-2 col-xs-12">
							<button class="btn btn-danger btn-ban full-width"
								ng-click="banOrder(order.id)">
								<i class="fa fa-ban"></i>
								<span class="hidden-sm">{{"banservice.ban" | translate}}</span>
							</button>
						</div>
					</div>
				</div>

			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-10">{{order.descr}}</div>
					<div class="col-xs-12 col-sm-2">
						<div>
							<strong>{{"banservice.date" | translate}}: </strong>

							<div class="label label-warning pull-right">{{order.date |
								date:'mediumDate'}}</div>
						</div>
						<div>
							<strong>{{"banservice.complains" | translate}}: </strong>

							<div class="label label-danger pull-right">
								{{order.complains}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</md-content> </md-tab> <md-tab label="{{'banservice.banned-orders-tab-label' | translate}}">
		<md-content class="md-padding">
		<div class="pagination dark animated fadeIn">
			<div class="col-xs-6">
				<button type="button" ng-click="showBannedFrom(0)"
					class="page dark gradient" ng-if="showBannedFirst">
					<i class="fa fa-caret-left"></i>
					<span>{{"pagination.first" | translate}}</span>
				</button>
				<div data-pagination="yes" class="inline-block">
					<button type="button" ng-repeat="page in bannedPages"
						ng-click="page.first == 'current' ? '' : showBannedFrom(page.second)"
						ng-class="page.first == 'current' ? 'page dark active' : 'page dark gradient'">
						{{page.second + 1}}</button>
				</div>
				<button type="button" class="page dark gradient"
					ng-click="showBannedFrom('last')" ng-if="showBannedLast">
					<span>{{bannedMaxPage}} </span>
					<i class="fa fa-caret-right"></i>
				</button>
			</div>
		</div>
		<div ng-show="banOrders.length == 0">
			<h5>No bans.</h5>
		</div>
		<div class="complainItem panel panel-primary"
			ng-repeat="order in banOrders | orderBy:sortField:reverse | filter:search">
			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-sm-10 col-xs-12">{{order.title}}</div>
						<div class="col-sm-2 col-xs-12">
							<button class="btn btn-danger btn-ban full-width"
								ng-click="unbanOrder(order.id)">
								<i class="fa fa-reply"></i> {{"banservice.unban" | translate}}
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-10">{{order.descr}}</div>
					<div class="col-xs-12 col-sm-2">
						<div>
							<strong>{{"banservice.date" | translate}}: </strong>

							<div class="label label-warning pull-right">{{order.date |
								date:'mediumDate'}}</div>
						</div>
						<div>
							<strong>{{"banservice.complains" | translate}}: </strong>

							<div class="label label-danger pull-right">
								{{order.complains}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</md-content> </md-tab> </md-tabs> </md-content>
	</div>
</div>