.menuIcons{
    position: fixed;
    top:70px;
    width: 2.5em;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    text-align: center;
    background-color: #273039;
    height: 100%;
}

.menuIconBtn{
    margin-top: 5px;
    font-size: 1.5em;
    color:#11C3F0;
    width: 1.65em;
}

.menuContent{
    margin-top: 58px;
    height: 100vh;
    background-color: #11C3F0;
}


md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus{
    background: #11C3F0;
    color: #273039;
}

.md-open-menu-container.md-active{
height:100vh;
}

.menu-offset{
    padding-left: 3.4em;
}
.menu-header-offset{
    padding-top: 2em;
}

.home-btn:active{
    background-color: #11C3F0;
    color:#273039;
}

.home-btn{
   padding-top: 5px;
    height: 40px;
}

