.home-page .homeContent{
    background-color: #ffffff;
}


.home-page .home-carousel-image-div {
    height: 40vh;
}




.home-page .tips-list{
    padding-left: 1.5em;
}

.home-page .tips-list li{
    list-style-type: circle;
}

.home-page{
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .home-page  h1{
       font-size: 20pt;
    }
    .home-page  h2{
        font-size: 16pt;
    }
}

@media (min-width: 767px) {
    .home-page  .home-container{
        padding-left: 0;
    }
}


