    <div class="">
    <div >
        <!-- Header Carousel -->
        <div class="container">
            <div class="row">
                <div id="sliderFrame">
                    <div id="slider">
                        <img src="../../../images/home/Fotolia_74087814_Subscription_Monthly_M.jpg"
                             alt="Fotolia_74087814_Subscription_Monthly_M.jpg"/>
                        <img src="../../../images/home/freelance-work-ftr.jpg" alt="freelance-work-ftr.jpg"/>
                        <img src="../../../images/home/it.jpg" alt="asd asd asd as das as "/>
                        <img src="../../../images/home/technology.jpg" alt="Technology"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container homeContent">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Freelancer
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-globe "></i>Long time in this business</h4>
                    </div>
                    <div class="panel-body">
                        <p>We work with IT specialists and customers more than fifteen years. We really know our
                            business.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-users "></i> Large database of employers</h4>
                    </div>
                    <div class="panel-body">
                        <p>We have information about more than fifty thousands employers and specialists</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-hand-peace-o "></i> Free &amp; Open to all</h4>
                    </div>
                    <div class="panel-body">
                        <p>Every one can work with us, you need only <a href="#/chooserole">sign up</a>. It is very
                            easy.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->


        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">What you will able to do with freelance service</h2>
            </div>
            <div class="col-md-6">
                <p>A few tips for quick start:</p>
                <ul>
                    <li>Corporis, omnis doloremque non</li>
                    <li>Reiciendis quia dolorum</li>
                    <li>Aspernatur tempora minima</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>Ducimus unde</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id
                    reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia
                    dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="../../../images/home/Fotolia_74087814_Subscription_Monthly_M.jpg"
                     alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>In order to use our service, you have to <a href="#/auth">log in</a>. If you are not registered
                        then press the big button 'Sign up'.
                        Do not worry it will not take much time.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-success btn-block" href="#/chooserole">Sign up</a>
                </div>
            </div>
        </div>

        <hr>

    </div>
