<div class="footer-content" style="color:#ffffff">
          <ul>
            <li>
                www.opentask.com | All Right reserved
            </li>
            <li>
                <i class="fa fa-phone fa-lg"> </i> Phone: 123213 21321
            </li>
            <li>
                <md-button class="md-icon-button " style="margin-right: 0px;padding-right: 0px;">
                    <i class="fa fa-envelope-o fa-lg" > </i>
                </md-button>
                E-mail: opentask@gmail.com

            </li>

            <li>
               <i class="fa fa-flag fa-lg"> </i>
                <span ng-translate-language-select></span>
            </li>
        </ul>

    </div>