<div class="footer-content">
    <ul>
        <li>
            www.opentask.com | <a href="/#presentation"> {{"footer.about" | translate}} </a>
        </li>

        <li>
            <i class="fa fa-phone fa-lg"> </i> {{"footer.phone" | translate}} : 123213 21321
        </li>
        <li>
            <i class="fa fa-envelope-o fa-lg"> </i> E-mail: opentask@gmail.com

        </li>

        <li>
            <i class="fa fa-flag fa-lg"> </i>
            <span ng-translate-language-select></span>
        </li>
    </ul>

</div>