.job-info .ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.order-not-found {
    font-size: 48px;
    text-align: center;
    color: #ccc;
    font-weight: bold;
}

.job-info .list-unstyled {
    padding-left: 0px;
    list-style: outside none none;
}

.job-info .job-title {
    font-family: normal;
    font-weight: bold;
}

.job-info .user-name {
    font-family: normal;
    font-weight: bold;
}

.job-info p > a {
    cursor: hand;
}

.job-info ul li {
    margin-bottom: 10px;
}

.job-info .btn-warn {
    background-color:#FF5722;
    border: #FFF;
}

.job-info .right-side {
    text-align: center;
}

.job-info .right-side h3{
    margin-top: 0;
}

.job-info .right-side .btn{
    margin-bottom: 15px;
}

        .job-info .details {
    clear: both;
}

.job-info .user{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 15px auto 0px auto;
    float: none;
}

.job-info .feedback {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 15px;
    float: left;
}

.job-info .follower {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto 15px auto 15px;
    float: left;
}

.job-info .btn-accept {
    padding: 2.5px 10px;
    margin: 5px 15px 10px 15px;
}