.job-info .ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.job-info .list-unstyled {
    padding-left: 0px;
    list-style: outside none none;
}

.job-info ul li {
    margin-bottom: 10px;
}

.job-info .right-side {
    text-align: center;
}

.job-info .details {
    clear: both;
}

.job-info .centure {
}

.job-info .user{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 15px auto;
    float: none;
}
