<div id="tab-content" class="panel panel-default">
    <div class="tests-tabs" ng-cloak="">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>


                <!--Start Tab Subscribed projects-->
                <md-tab label="Subscribed">
                    <md-content class="md-padding">
                        <!--start header-->
                        <div class="history-title">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="panel-title col-md-12">
                                            <div class="col-md-5 col-sm-5 col-xs-8">
                                                <a ng-click="sort('title')">
                                                    <div class="hidden-xs hidden-icons-title">
                                                        <i class="fa fa-briefcase"></i>
                                                    </div>
                                                    Project title
                                                    <i class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-up' : isSortUp('title'),
                                                                          'glyphicon-arrow-down' : isSortDown('title')}">

                                                    </i>
                                                </a>
                                            </div>
                                            <div class="col-md-3 col-sm-3 hidden-xs">
                                                <a ng-click="sort('payment')">
                                                    <i class="fa fa-money"></i> Payment
                                                    <i class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-up' : isSortUp('payment'),
                                                                          'glyphicon-arrow-down' : isSortDown('payment')}">
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-4">
                                                <div class="hidden-xs hidden-icons-title">
                                                    <i class="fa fa-calculator"></i>
                                                </div>
                                                Pay type
                                            </div>
                                            <div class="col-md-2 hidden-sm hidden-xs" style="text-align: right;">
                                                <i class="fa fa-lock"></i> Privacy
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end header-->

                        <!--start body-->


                        <div ng-repeat="project in subscribedWorks | orderBy:sortField:reverse">
                            <div class="panel panel-default">
                                <div class="row" ng-click="showTabDialog($event,project)">
                                    <div class="col-md-12">
                                        <div class="panel-heading">
                                            <div class="col-md-5 col-sm-5 col-xs-8">
                                                {{project.title}}

                                            </div>

                                            <div class="col-md-3 col-sm-3 hidden-xs">
                                                {{project.payment | number:1}} $
                                            </div>

                                            <div class="col-md-3 col-sm-4 col-xs-4 ">
                                                {{project.payType}}
                                            </div>

                                            <div ng-if="project.priv==''">
                                                <div class=" col-md-1 hidden-sm hidden-xs">
                                                    public
                                                </div>
                                            </div>
                                            <div ng-if="project.priv!=''">
                                                <div class="col-md-1 hidden-sm hidden-xs">
                                                    private
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <md-button class="md-primary md-raised" ng-click="showTabDialog($event)" flex="100"
                                   flex-gt-md="auto">
                            Tab Dialog
                        </md-button>

                    </md-content>
                </md-tab>
                <!--End Tab Subscribed projects-->

                <!--Start Tab Projects in process-->
                <md-tab label="In progress">
                    <md-content class="md-padding">
                        <!--start header-->
                        <div class="history-title">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="panel-title col-md-12">
                                            <div class="col-md-5 col-sm-5 col-xs-8">
                                                <a ng-click="sort('title')">
                                                    <div class="hidden-xs hidden-icons-title">
                                                        <i class="fa fa-briefcase"></i>
                                                    </div>
                                                    Project title
                                                    <i class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-up' : isSortUp('title'),
                                                                          'glyphicon-arrow-down' : isSortDown('title')}">

                                                    </i>
                                                </a>
                                            </div>
                                            <div class="col-md-3 col-sm-3 hidden-xs">
                                                <a ng-click="sort('payment')">
                                                    <i class="fa fa-money"></i> Payment
                                                    <i class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-up' : isSortUp('payment'),
                                                                          'glyphicon-arrow-down' : isSortDown('payment')}">
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-4">
                                                <div class="hidden-xs hidden-icons-title">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                Start date
                                            </div>
                                            <div class="col-md-2 hidden-sm hidden-xs" style="text-align: right;">
                                                <i class="fa fa-lock"></i> Privacy
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end header-->

                        <!--start body-->


                        <div ng-repeat="project in processedWorks | orderBy:sortField:reverse">
                            <div class="panel panel-default">
                                <div class="row" ng-click="showTabDialog($event,project)">
                                    <div class="col-md-12">
                                        <div class="panel-heading">
                                            <div class="col-md-5 col-sm-5 col-xs-7">
                                                {{project.title}}

                                            </div>

                                            <div class="col-md-3 col-sm-3 hidden-xs">
                                                {{project.payment | number:1}} $
                                            </div>

                                            <div class="col-md-3 col-sm-4 col-xs-5 ">
                                                {{ project.startedDate}}
                                            </div>

                                            <div ng-if="project.priv==''">
                                                <div class=" col-md-1 hidden-sm hidden-xs">
                                                    public
                                                </div>
                                            </div>
                                            <div ng-if="project.priv!=''">
                                                <div class="col-md-1 hidden-sm hidden-xs">
                                                    private
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </md-content>
                </md-tab>
                <!--End Tab Projects in process-->

                <!--Start Tab Finished projects-->
                <md-tab label="Finished">
                    <md-content class="md-padding">
                        <!--start header-->
                        <div class="history-title">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="panel-title col-md-12">
                                            <div class="col-md-5 col-sm-5 col-xs-8">
                                                <a ng-click="sort('title')">
                                                    <div class="hidden-xs hidden-icons-title">
                                                        <i class="fa fa-briefcase"></i>
                                                    </div>
                                                    Project title
                                                    <i class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-up' : isSortUp('title'),
                                                                          'glyphicon-arrow-down' : isSortDown('title')}">

                                                    </i>
                                                </a>
                                            </div>
                                            <div class="col-md-3 col-sm-3 hidden-xs">
                                                <a ng-click="sort('payment')">
                                                    <i class="fa fa-money"></i> Payment
                                                    <i class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-up' : isSortUp('payment'),
                                                                          'glyphicon-arrow-down' : isSortDown('payment')}">
                                                    </i>
                                                </a>
                                            </div>
                                            <div class="col-md-2 col-sm-4 col-xs-4">
                                                <div class="hidden-xs hidden-icons-title">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                Duration
                                            </div>
                                            <div class="col-md-2 hidden-sm hidden-xs" style="text-align: right;">
                                                <i class="fa fa-lock"></i> Privacy
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end header-->

                        <!--start body-->


                        <div ng-repeat="project in finishedWorks | orderBy:sortField:reverse">
                            <div class="panel panel-default">
                                <div class="row" ng-click="showTabDialog($event,project)">
                                    <div class="col-md-12">
                                        <div class="panel-heading">
                                            <div class="col-md-5 col-sm-5 col-xs-7">
                                                {{project.title}}

                                            </div>

                                            <div class="col-md-3 col-sm-3 hidden-xs">
                                                {{project.payment | number:1}} $
                                            </div>

                                            <div class="col-md-3 col-sm-4 col-xs-5 ">
                                                <span>{{ project.startedDate | dateFormat }}</span> -
                                                <span>{{ project.endedDate | dateFormat }}</span>
                                            </div>

                                            <div ng-if="project.priv==''">
                                                <div class=" col-md-1 hidden-sm hidden-xs">
                                                    public
                                                </div>
                                            </div>
                                            <div ng-if="project.priv!=''">
                                                <div class="col-md-1 hidden-sm hidden-xs">
                                                    private
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </md-content>
                </md-tab>
                <!--End Tab Finished projects-->


            </md-tabs>
        </md-content>
    </div>
</div>

