<div id="tab-content" class="panel panel-default">
    <div class="mywork">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>

             <div ng-if="role === 'developer'">
                <!--Start Tab Proposed projects-->
                <md-tab label="Proposed">
                    <md-content class="md-padding" style="min-height: 450px;">

                        <div ng-switch="notAcceptedWorks.length">
                            <div ng-switch-when="0">
                                <h5 class="help-block">No projects</h5>
                            </div>
                            <div ng-switch-default>
                                <div ng-repeat="project in notAcceptedWorks">
                                    <div class="panel panel-default">


                                        <div class="row project-block panel-body">
                                            <a ng-href="/#/orders/{{project.id}}">
                                                <div class="col-xs-8">
                                                    <span class="project-block-title"><strong>{{project.title}}</strong></span><br>

                                                    <div class="project-block-descr">
                                                        {{project.descr}}
                                                    </div>
                                                    Technologies:
                                                    <span ng-repeat="tech in project.technologies">
                                                         <span class="label label-success lb">{{tech.name}}</span>
                                                     </span>

                                                </div>

                                                <div class="col-xs-2 ">
                                                    <div class="form-group">
                                                        <label class="control-label">Date</label>
                                                        <div class="col-xs-12" >
                                                            <div class="label label-warning form-control">
                                                                {{project.date |  date:'MMM d, y'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Payment:
                                                            {{project.payType}}</label>

                                                        <div class="col-xs-12">
                                                            <div class="label label-info form-control">
                                                                {{project.payment | number:2}} $
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="col-xs-2 ">
                                                <md-button class=" md-raised md-primary full-width" ng-click=""  style="margin-left: 0;">
                                                    Accept
                                                </md-button>
                                                <md-button class=" md-raised md-warn full-width"  style="margin-left: 0;">
                                                    Decline
                                                </md-button>
                                                <!--<button type="button" class="btn btn-success btn-lg ">Accept</button>-->
                                                <!--<button type="button" class="btn btn-danger btn-lg">Decline</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
             </div>




                <!--Start Tab Subscribed projects-->
                <md-tab label="{{firstTitle}}">
                    <md-content class="md-padding" style="min-height: 450px;">
                        <div ng-switch="firstWorks.length">
                            <div ng-switch-when="0">
                                <h5 class="help-block">No projects</h5>
                            </div>
                            <div ng-switch-default>
                                 <div ng-repeat="project in firstWorks">
                                    <div class="panel panel-default">

                                        <a ng-href="/#/orders/{{project.id}}">
                                            <div class="row project-block panel-body" >

                                                <div class="col-xs-10">
                                                    <span class="project-block-title"><strong>{{project.title}}</strong></span><br>

                                                    <div class="project-block-descr">
                                                        {{project.descr}}
                                                    </div>
                                                    Technologies:
                                                <span ng-repeat="tech in project.technologies">
                                                     <span class="label label-success lb">{{tech.name}}</span>
                                                 </span>

                                                </div>

                                                <div class="col-xs-2 ">
                                                    <div class="form-group">
                                                        <label class="control-label">Date</label>
                                                        <div class="col-xs-12" >
                                                            <div class="label label-warning form-control">
                                                                {{project.date |  date:'MMM d, y'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Payment:
                                                            {{project.payType}}</label>

                                                        <div class="col-xs-12">
                                                            <div class="label label-info form-control">
                                                                {{project.payment | number:2}} $
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>


                                    </div>
                                </div>


                            </div>
                        </div>


                    </md-content>
                </md-tab>

                <!--Start Tab Projects in process-->
                <md-tab label="In progress">
                    <md-content class="md-padding" style="min-height: 450px;">

                        <div ng-switch="secondWorks.length">
                            <div ng-switch-when="0">
                                <h5 class="help-block">No projects</h5>
                            </div>
                            <div ng-switch-default>
                                 <div ng-repeat="project in secondWorks ">
                                    <div class="panel panel-default">
                                        <div class="row project-block panel-body"
                                             ng-click="showTabDialog($event,project)">

                                            <div class="col-xs-10">
                                                <span class="project-block-title"><strong>{{project.title}}</strong></span><br>

                                                <div class="project-block-descr">
                                                    {{project.descr}}
                                                </div>
                                                Technologies:
                                                <span ng-repeat="tech in project.technologies">
                                                     <span class="label label-success lb">{{tech.name}}</span>
                                                 </span>

                                            </div>

                                            <div class="col-xs-2 ">
                                                <div class="form-group">
                                                    <label class="control-label">Date</label>
                                                    <div class="col-xs-12" >
                                                        <div class="label label-warning form-control">
                                                            {{project.date | date:'MMM d, y'}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Payment:
                                                        {{project.payType}}</label>

                                                    <div class="col-xs-12">
                                                        <div class="label label-info form-control">
                                                            {{project.payment | number:2}} $
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </md-content>
                </md-tab>
                <!--End Tab Projects in process-->


                <!--Start Tab Projects in process-->
                <md-tab label="Finished">
                    <md-content class="md-padding" style="min-height: 450px;">

                        <div ng-switch="secondWorks.length">
                            <div ng-switch-when="0">
                                <h5 class="help-block">No projects</h5>
                            </div>
                            <div ng-switch-default>
                                <div ng-repeat="project in thirdWorks ">
                                    <div class="panel panel-default">
                                        <div class="row project-block panel-body"
                                             ng-click="showTabDialog($event,project)">

                                            <div class="col-xs-10">
                                                <span class="project-block-title"><strong>{{project.title}}</strong></span><br>

                                                <div class="project-block-descr">
                                                    {{project.descr}}
                                                </div>
                                                Technologies:
                                                <span ng-repeat="tech in project.technologies">
                                                     <span class="label label-success lb">{{tech.name}}</span>
                                                 </span>

                                            </div>

                                            <div class="col-xs-2 ">
                                                <div class="form-group">
                                                    <label class="control-label">Date</label>
                                                    <div class="col-xs-12" >
                                                        <div class="label label-warning form-control">
                                                            {{project.date | date:'MMM d, y'}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Payment:
                                                        {{project.payType}}</label>

                                                    <div class="col-xs-12">
                                                        <div class="label label-info form-control">
                                                            {{project.payment | number:2}} $
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </md-content>
                </md-tab>
                <!--End Tab Projects in process-->




            </md-tabs>
        </md-content>
    </div>
</div>

