<md-dialog style="max-width:50%;">
    <div class="mywork">
        <div class="modal-header">
            <div class="md-toolbar-tools modal-subheader">
                {{project.title}}
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </div>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding">


                        <div class="row">
                            <div class="col-sm-7">
                                <h4>Description</h4>

                                <div class="panel panel-default">
                                    <div class="panel-body" ;>
                                        {{project.descr}}
                                    </div>
                                </div>
                                <div>
                                    Technologies:
                                                <span ng-repeat="tech in project.technologies">
                                                     <span class="label label-success lb">{{tech.name}}</span>
                                                 </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <h4>Information</h4>
                                <span><strong>Registration:</strong> {{project.date | date:'MMM d, y'}}</span><br/>
                                <span><strong>Start date:</strong> {{project.startedDate | date:'MMM d, y'}}</span><br/>
                                <span><strong>End date:</strong> {{project.endedDate | date:'MMM d, y'}}</span><br/>
                                <span><strong>Time zone:</strong> {{project.zone}}</span><br/>

                                <span>
                                <strong>Privacy:</strong>
                                <span ng-switch="project.priv">
                                    <span ng-switch-when="">
                                        public
                                    </span>
                                    <span ng-switch-default>
                                        private
                                    </span>
                                </span>
                                </span><br/>
                                <span><strong>Payment type:</strong> {{project.payType}}</span><br/>

                                <span ng-if="workerInfo !== 'undefined' ">
                                    <span> <strong>Payment</strong> {{workerInfo.newHourly | number:1}} $ p/h</span><br>
                                    <!--<span><strong>Worked time:</strong> {{workerInfo.sumHours}} h</span><br/>-->
                                </span>
                                <span ng-if="workerInfo == 'undefined' ">
                                    <span> <strong>Payment </strong> {{project.payment | number:1}} $ p/h</span>
                                </span>

                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Members">
                    <md-content class="md-padding">

                        <div style="min-width:500px;">
                            <div class="panel panel-success panel-unit">
                                <div class="panel-heading">Customer</div>
                                <div class="panel-body">

                                    <a ng-href="/#/public/customer/custname/{{customer.id}}">
                                        <div>
                                            <img class="unit-cust-image"
                                                 src="{{customer.imgUrl==null? '/images/profile/no-profile-img.jpg' : customer.imgUrl}}"
                                                 alt=""/>
                                            {{customer.fname}}
                                            {{customer.lname}}
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <hr/>

                            <div class="panel panel-info panel-unit">
                                <div class="panel-heading">Developers</div>
                                <div class="panel-body">
                                    <div ng-repeat="devWorker in workers">


                                        <a href="/#/public/developer/devname/{{devWorker.id}}">
                                            <div class="members-unit-dev">
                                                <div class="unit-foto">
                                                    <img style="width: 100%"
                                                         src="{{devWorker.imgUrl==null? '/images/profile/no-profile-img.jpg' : devWorker.imgUrl}}"
                                                         alt=""/>
                                                </div>
                                                <div class="unit-name-dev">
                                                    {{devWorker.fname}}
                                                    <br> {{devWorker.lname}}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions>

            <div ng-if=" role='customer'&& project.started == true && project.ended == false">
                <md-button class="md-warn" ng-click="finishOrdering(project.id)" md-autofocus>
                    Finish project
                </md-button>
            </div>


            <md-button ng-click="cancel()" md-autofocus>
                Back
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>