<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <small> {{project.title}}</small>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;min-width: 650px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <md-content class="md-padding">


                        <div class="row">
                            <div class="col-sm-7">
                                <h4>Description</h4>

                                <div class="panel panel-default">
                                    <div class="panel-body" ;>
                                        {{project.descr}}
                                    </div>
                                </div>
                                <div>
                                    Technologies:
                                                <span ng-repeat="tech in project.technologies">
                                                     <span class="label label-success lb">{{tech.name}}</span>
                                                 </span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <h4>Information</h4>
                                <span><strong>Registration date:</strong> {{project.date}}</span><br/>
                                <span><strong>Start date:</strong> {{project.startedDate}}</span><br/>
                                <span><strong>End date:</strong> {{project.endedDate}}</span><br/>
                                <span><strong>Time zone:</strong> {{project.zone}}</span><br/>

                                <span>
                                <strong>Privacy:</strong>
                                <span ng-switch="project.priv">
                                    <span ng-switch-when="">
                                        public
                                    </span>
                                    <span ng-switch-default>
                                        private
                                    </span>
                                </span>
                                </span><br/>
                                <span><strong>Payment type:</strong> {{project.payType}}</span><br/>

                                <span ng-switch="subscribePage">
                                <span ng-switch-when="true">
                                    <strong>Payment:</strong> {{project.payment | number:1}} $<br/>
                                </span>

                                <span ng-switch-when="false">
                                    <strong>Payment</strong> {{workerInfo.newHourly | number:1}} $<br>
                                    <span><strong>Worked time:</strong> {{workerInfo.sumHours}} h</span><br/>
                                </span>
                                 </span>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Members">
                    <md-content class="md-padding">

                        <div style="width:600px;min-height:50%;">
                            <!--<h2>Customer</h2>-->
                            <!--<h3><span style="margin-left: 5%;">{{customer.fname}}  {{customer.lname}}</span></h3>-->

                            <div class="panel panel-success">
                                <div class="panel-heading">Customer</div>
                                <div class="panel-body">
                                    {{customer.fname}}  {{customer.lname}}
                                </div>
                            </div>


                            <hr/>
                            <div ng-if="subscribePage!=true">
                                   <div class="panel panel-info">
                                    <div class="panel-heading">Developers</div>
                                    <div  class="panel-body">
                                        <div ng-repeat="devWorker in workers">
                                        {{devWorker.fname}} {{devWorker.lname}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </md-content>
                </md-tab>

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="cancel()" md-autofocus>
                Got it
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>