
<div class="panel panel-primary">
	<div class="panel-heading" id="filterHeader" ng-click="filterToggle()">
		<div class="panel-title relative-element">
			<label><i class="fa fa-wrench"></i> {{"developers.filter" |
				translate}}</label>
			<div class="pull-right">
				<button
					class="btn btn-warning order-open-filter-btn animated slideInUp">
					<md-tooltip md-direction="bottom" ng-switch="filter.tooltip.locked">
					<i class="fa fa-unlock-alt" ng-switch-when="true"></i> <i
						ng-switch-when="false" class="fa fa-lock"></i>
					{{filter.tooltip.title}} </md-tooltip>
					<i class="fa {{filterButtonStyle}} fa-2x"></i>
				</button>
			</div>
		</div>
	</div>
	<div id="developer_filter"
		class="panel-collapse collapse {{filterState}}">
		<div class="panel-body form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2">
					{{"developers.search-for" | translate}} </label>
				<div class="col-sm-4">
					<input class="form-control" name="developer_firstName"
						id="developer_firstName" ng-model="filter.firstName"
						placeholder="{{'developers.name-placeholder' | translate}}">
				</div>
				<div class="col-sm-4">
					<input class="form-control" name="developer_lastName"
						id="developer_lastName" ng-model="filter.lastName"
						placeholder="{{'developers.lastname-placeholder' | translate}}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="developer_position">
					{{"developers.position" | translate}}</label>
				<div class="col-sm-8">
					<input class="form-control" name="developer_position"
						id="developer_position" ng-model="filter.position"
						placeholder="{{'developers.position-placeholder' | translate}}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="developer_technologies">
					{{"developers.techologies" | translate}} </label>
				<div class="col-sm-8">
					<div isteven-multi-select input-model="technologies"
						id="technologiesSelect" output-model="filter.selectedTechnologies"
						button-label="name" item-label="name" tick-property="ticked"></div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="developer_payment">
					{{"developers.payment-per-hour" | translate}}</label>
				<div class="col-sm-8">
					<rzslider rz-slider-model="filter.payment.min"
						rz-slider-high="filter.payment.max"
						rz-slider-options="filter.payment.options"></rzslider>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="timeZoneSelect">
					{{"developers.time-zones" | translate}} </label>
				<div class="col-sm-8">
					<div isteven-multi-select input-model="timeZones"
						id="timeZonesSelect" output-model="filter.selectedZones"
						button-label="title" item-label="title" tick-property="ticked"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-8 col-xs-2">
					<button class="btn btn-info full-width" ng-click="doFilter()">
						<i class="fa fa-search"></i> {{"filter.do-filter" | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pagination dark animated fadeIn">
	<div class="col-xs-6">
		<button ng-click="openPage(0)" class="page dark gradient"
			ng-if="showFirst">
			<i class="fa fa-caret-left"></i>
			<span>{{"pagination.first" | translate}}</span>
		</button>
		<div data-pagination="yes" class="inline-block">
			<button ng-repeat="page in pages"
				ng-click="page.first == 'current' ? '' : openPage(page.second)"
				ng-class="page.first == 'current' ? 'page dark active' : 'page dark gradient'">{{page.second
				+ 1}}</button>
		</div>
		<button class="page dark gradient" ng-click="openPage('last')"
			ng-if="showLast">
			<span>{{maxPage}} </span>
			<i class="fa fa-caret-right"></i>
		</button>
	</div>
	<md-input-container class="pull-right box-none"> <md-select
		ng-model="itesStep" ng-change="changeStep()"
		class="inner-elements-color-blue-light"> <md-option
		ng-repeat="step in itemsPerPage" ng-value="step">
	{{step.text}} </md-option> </md-select> </md-input-container>
</div>
<div id="developersArea">
	<div class="col-xs-12 cabinet-top" ng-if="developersLoading">
		<div class="load-animation"></div>
	</div>
	<div class="panel panel-info" ng-repeat="developer in developers"
		ng-if="developersLoading == false">
		<div class="panel-heading">
			<a class="panel-title developer-link"
				href="/#/public/developer/{{developer.fname}}{{developer.lname}}/{{developer.id}}"><i
				class="fa fa-link"></i> {{developer.fname}} {{developer.lname}}</a>
		</div>
		<div class="panel-body developer-panel-body">
			<div class="col-xs-8 col-sm-10">
				<img class="img-rounded animated zoomIn developer-list-img"
					ng-src="{{developer.imgUrl==null? '/images/profile/no-image.png' : developer.imgUrl}}"
					alt="developer img">
				<div>
					<h4>{{developer.position}}</h4>
					{{developer.overview}}
				</div>
			</div>
			<div class="col-xs-4 col-sm-2">
				<div class="form-group">
					<label for="name" class="control-label">{{"developers.date"
						| translate}}</label>
					<div class="col-xs-12">
						<div class="label label-warning form-control">
							{{developer.regDate | date:'mediumDate'}}</div>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="control-label">{{"developers.payment"
						| translate}}:</label>
					<div class="col-xs-12">
						<div class="label label-info form-control">
							{{developer.hourly | number:2}} $</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<ul class="tags animated flipInX">
					<li ng-repeat="tech in developer.technologies"><a href="#"
						class="hvr-grow">{{tech.name}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
